<div class="content" ng-controller="ReSupplyCtrl">

  <div class="offer">
    <div class="wrapper">
      <div class="title">{{offerTitle}}</div>
      <div class="description">
        <img src="../../content/img/other/box.png" alt="">
        <div>
          <span class="line1">{{offerLine1}}</span>
          <span class="line2">{{offerLine2}}</span>
          <span class="line3">{{offerLine3}}</span>
          <a href="" ui-sref="main.form">sign up</a>
        </div>
      </div>
    </div>
  </div>

  <div class="in-box">
    <div class="wrapper">
      <div class="title">{{inBoxTitle}}</div>
      <span class="msg1">{{inBoxMsg1}}</span>
      <span class="msg2">{{inBoxMsg2}}</span>
      <span class="msg3">
        {{inBoxListTitle1}}<br>{{inBoxListTitle2}}
        <ul>
          <li ng-repeat="data in inBoxListData">{{data}}</li>
        </ul>
      </span>
    </div>
  </div>

  <div class="footer">
    <span class="test-link">{{testText1}}<br><a href="">{{testLink}}</a>&nbsp;{{testText2}}</span>
  </div>

</div>
