<div class="content" ng-controller="ReSupplyCtrl">

  <div class="offer">
    <div class="wrapper">
      <div class="title">
        <span class="title1">{{title1}}</span>
        <span> - </span>
        <span class="title2">{{title2}}</span>
      </div>
      <div class="description">
        <img class="pull-left" src="../../content/img/other/box.png" alt="">
        <div class="text pull-right">
          <span class="line1">{{text1}}<br>{{text2}}</span>
          <span class="line2">{{text3}}</span>
          <div class="btn">sign up</div>
        </div>
      </div>
    </div>
  </div>

</div>
