.sidebar .button {
  font-size: 14px;
  font-weight: 500;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 15px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border-radius: 3px;
  background-color: #fe7847;}

.sidebar .button:hover {
  background-color: #f98b60;}

.sidebar :last-child {
  margin-bottom: 0;}
