* {
  font-family: 'Roboto', sans-serif, Arial, Verdana;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;}

html,
body {
  height: 100%;}

a::selection,
img::selection,
input::selection,
.selection-none::selection {
  background: none;}

span::selection {
  background: #babcc5}

.text-light {font-weight: 300;}
.text-medium {font-weight: 500;}
.text-bold {font-weight: 700;}
.text-italic {font-style: italic;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}
.text-justify {text-align: justify;}
.text-nowrap {white-space: nowrap;}
.text-lowercase {text-transform: lowercase;}
.text-uppercase {text-transform: uppercase;}
.text-capitalize {text-transform: capitalize;}
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;}

.pull-right {float: right !important;}
.pull-left {float: left !important;}
.hide {display: none !important;}
.show {display: block !important;}
.invisible {visibility: hidden;}

.block-center {
  display: block;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 0;
  padding-left: 0;}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 0;
  padding-left: 0;}

.row {
  margin-right: 0;
  margin-left: 0;}

.top-cut,
.bot-cut {
  width: 100%;
  height: 40px;
  position: absolute;
  background-size: cover;}

.top-cut {
  top: 0;
  background: url(../images/svg/top.svg) no-repeat center top;}

.bot-cut {
  bottom: 0;
  background: url(../images/svg/bot.svg) no-repeat center bottom;}

@media (max-width: 1023px) {.container {width: 760px;}}
@media (min-width: 1024px) {.container {width: 960px;}}
@media (min-width: 1180px) {.container {width: 1160px;}}
