#slide-4 {
  height: 400px;
  background: #F0F0F2;
  position: relative;}

.benefits {
  width: 960px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);}

.benefits > div {
  height: 240px;
  width: 288px;}

.benefit-one {
  background: url(../images/misc/knight-1.png) no-repeat center center;}

.benefit-two {
  margin: 0 0 0 48px;
  background: url(../images/misc/knight-2.png) no-repeat center center;}

.benefit-three {
  margin: 0 0 0 48px;
  background: url(../images/misc/knight-3.png) no-repeat center center;}

.benefit-title {
  font-family: 'Roboto';
  color: #FE7847;
  font-size: 20px;
  text-align: center;
  margin: 60px 0 15px 0;}

.benefit-description {
  font-family: 'Roboto';
  color: #222831;
  font-size: 14px;
  text-align: center;}
