#slide-5 {
  height: 440px;
  background: url(../images/bg/slide-3.png) no-repeat center top;
  background-size: cover;
  position: relative;}

.rent {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 240px;
  width: 960px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);}

.rent-prev-btn {
  position: absolute;
  height: 240px;
  width: 110px;
  left: 0;}

.rent-next-btn {
  position: absolute;
  height: 240;
  width: 110px;
  right: 0;}

.rent-block {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 240px;
  width: 740px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);}

.rent-image {
  width: 240px;
  height: 240px;}

.rent-image > img {
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, .2);}

.rent-info {
  width: 480px;
  height: 240px;
  padding: 20px 0;
  position: relative;}

.rent-title {
  font-family: 'Roboto';
  font-weight: 500;
  color: #eee;
  font-size: 16px;
  text-align: left;
  margin: 0 0 20px 0;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .15);}

.rent-description {
  font-family: 'Roboto';
  color: #eee;
  font-size: 14px;
  text-align: justify;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .15);}

.rent-price {
  font-family: 'Roboto';
  position: absolute;
  top: 17px;
  right: 0;
  font-weight: 500;
  color: #FE7847;
  font-size: 18px;
  text-align: right;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .15);}

.rent-reviews {
  position: absolute;
  left: 0;
  bottom: 20px;}

.rent-reviews > img {
  width: 46px;
  height: 46px;
  border: 2px;
  border-style: solid;
  border-color: #fff;
  border-radius: 999px;
  position: absolute;
  bottom: 0;}

.rent-reviews-ava-1 {left: 0;}
.rent-reviews-ava-2 {left: 23px;}
.rent-reviews-ava-3 {left: 46px;}

.rent-reviews > a {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 112px;
  width: 100px;
  line-height: 46px;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  color: #FE7847;}

.rent-buttons {
  position: absolute;
  bottom: 20px;
  right: 0;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .15);}

.rent-buttons > a {
  display: inline-block;
  border: 3px;
  border-style: solid;
  border-radius: 5px;
  border-color: #FE7847;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  height: 40px;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  line-height: 35px;
  margin: 0 0 0 20px;}

.rent-btn-rent {width: 75px;}
.rent-btn-catalog {width: 96px;}
