<div class="benefits" name="benefits">

  <div class="wrapper">

    <div class="one pull-left">
      <div>What is Sleep Apnea</div>
      <div>Sleep apnea is a chronic sleep disorder found most commonly in men and women after menopause. Symptoms include: loud snoring, waking up gasping for air, choking or coughing and excessive daytime tiredness. If not properly treated sleep apnea can lead to high blood pressure, heart problems, stroke, Type 2 diabetes, metabolic syndrome and liver issues</div>
    </div>

    <div class="two pull-left">
      <div>Screening Tool</div>
      <div>Do you constantly feel tired throughout your day? Take this short quiz to find out if you are at risk of having a sleep disorder</div>
    </div>

    <div class="three pull-left">
      <div>What Good Night Medical can do for you!</div>
      <div>At Good Night Medical we strive to be the best durable medical equipment supplier in the nation. We offer top of the line customer service that will talk to you every step of the way to help you overcome your battle with sleep apnea. Our services range from scheduling you a home sleep test, setting up your CPAP supplies and making sure you have you are never short on new, clean supplies.</div>
    </div>

  </div>

</div>
