<div class="rent" name="rent">

  <div class="top-cut">
    <svg x="0px" y="0px" width="100%" height="40px" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1280 40">
      <path d="M0,0H1280V10S943.21,40,640,40C314.4,40,0,10,0,10V0Z" fill="#f0f0f2" />
    </svg>
  </div>

  <article>
    <img class="img pull-left" src="content/images/machines/philips-respironics-remstar-system-one-auto.jpg" alt="">
    <div class="info pull-right">
      <div class="title">Philips Respironics RemStar System One Auto</div>
      <div class="desc">The SoClean CPAP Cleaner will change the way you look at your CPAP. It automatically kills 99.9% of germs without using water, chemicals or having to disassemble your equipment. This cleaner only requires a one­time simple setup, and the SoClean CPAP Cleaner allows you to go out and enjoy your day while it does the work for you. Breathe Cleaner.</div>
      <div class="price">&#36;45 / month</div>
      <div class="buttons">
        <div class="btn-rent" ng-click="vm.hiddenModal = !vm.hiddenModal">Rent</div>
        <a class="btn-catalog" href="app/views/catalog.html">Catalog</a>
      </div>
    </div>
  </article>

  <div class="bot-cut">
    <svg x="0px" y="0px" width="100%" height="40px" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1280 40">
      <path d="M0,30S320,0,640,0s640,30,640,30V40H0V30Z" fill="#f0f0f2" />
    </svg>
  </div>

</div>
