* {color: #5f6468;}

html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: 268px !important;
  background-color: #eee;}

.mainbody {
  font-size: 0;
  width: 920px;
  margin: 20px auto;}

.mainbody > * {
  vertical-align: top;
  display: inline-block;
}

aside {
  width: 200px;
  height: auto;
  padding: 20px;
  background-color: #fff;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .03);
     -moz-box-shadow: 0 0 7px rgba(0, 0, 0, .03);
          box-shadow: 0 0 7px rgba(0, 0, 0, .03);}

.content {
  margin-left: 20px;
  width: 700px;}
