.content {
  width: 100%;
  margin: 0 auto;}

/*
 * Re Supply
 */

.offer {
  width: 100%;
  background: #ddd;}

.offer .wrapper {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 0;}

.offer .wrapper .title {
  height: 40px;
  text-align: center;}

.offer .wrapper .title span {
  font: 500 26px 'Rubik';
  line-height: 40px;
  display: inline-block;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  text-shadow: 0 0 15px rgba(0,0,0,.07);}

.offer .wrapper .title .title1 {color: #fe7847;}

.offer .wrapper .description {
  height: 400px;
  overflow: hidden;
}

/*
 * Blue Style
 */


/*
 * Orange Style
 */


