################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.vscode

.idea/
admin/.idea/
/front-end/.idea
prepros.cfg
/TeamCitySolution/*
!/TeamcitySolution/TeamCitySolution.sln
