/*
 * Дополнительные классы, для быстрого использования
 * Не рекомендуется использовать в конечной верстке
 */

.pull-right {float      : right !important;}
.pull-left  {float      : left !important;}
.hide       {display    : none !important;}
.show       {display    : block !important;}

/*
 * Цвета Style Guide
 */

.color-900   {color : #222831;}
.color-800   {color : #393e46;}
.color-400   {color : #ddd;}
.color-300   {color : #f0f0f2;}

.color-pri-500 {color : #579eff;}
.color-pri-400 {color : #84c7ff;}
.color-pri-300 {color : #8dc6ff;}
.color-pri-200 {color : #e4f1fe;}

.color-sec-500 {color : #fe7847;}
.color-sec-400 {color : #f98b60;}
.color-sec-300 {color : #ffc057;}
.color-sec-200 {color : #ffe084;}

/*
 * Типография
 * Насыщенность, стиль, выравнивание, преоброзования
 */

.text-light  {font-weight : 300;}
.text-medium {font-weight : 500;}
.text-bold   {font-weight : 700;}

.text-italic {font-style  : italic;}
.text-normal {font-style  : normal;}

.text-left    {text-align : left;}
.text-right   {text-align : right;}
.text-center  {text-align : center;}
.text-justify {text-align : justify;}

.text-lowercase  {text-transform : lowercase;}
.text-uppercase  {text-transform : uppercase;}
.text-capitalize {text-transform : capitalize;}
.text-ellipsis {
  white-space   : nowrap;
  overflow      : hidden;
  text-overflow : ellipsis;}
