.nav-bar {
  position: fixed;
  z-index: 900;
  top: 0;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  border: 0;
  background-color: #222831;}

.nav-bar .brand {
  font-size: 18px;
  line-height: 50px;
  text-transform: uppercase;
  color: #f0f0f2;}

.nav-bar .brand span {
  font-size: 18px;
  color: #f98b60;}

.nav-bar .log-out {
  font-size: 18px;
  line-height: 50px;
  text-transform: uppercase;
  color: #f98b60;}

.nav-bar .brand:hover,
.nav-bar .brand:hover span,
.nav-bar .log-out:hover {font-size: 19px;}
