/*
 * Дополнительные классы, для быстрого использования
 * Не рекомендуется использовать в конечной верстке
 */

.pull-right {float      : right !important;}
.pull-left  {float      : left !important;}
.hide       {display    : none !important;}
.show       {display    : block !important;}
.invisible  {visibility : hidden;}

.hide-me,
.show-me {
  -webkit-transition : all .5s ease-in-out;
     -moz-transition : all .5s ease-in-out;
       -o-transition : all .5s ease-in-out;
          transition : all .5s ease-in-out;}

.hide-me {
  opacity  : 0;
  height   : 0;
  overflow : hidden;
  margin   : 0;
  padding  : 0;}
.show-me {
  opacity  : 1;
  height   : auto;}

/*
 * Цвета Style Guide
 */

.color-grey-900   {color : #222831;}
.color-grey-800   {color : #393e46;}
.color-grey-400   {color : #ddd;}
.color-grey-300   {color : #f0f0f2;}

.color-blue-900   {color : #22313f;}
.color-blue-800   {color : #34495e;}

.color-blue-500   {color : #579eff;}
.color-blue-400   {color : #84c7ff;}
.color-blue-300   {color : #8dc6ff;}
.color-blue-200   {color : #e4f1fe;}

.color-orange-500 {color : #fe7847;}
.color-orange-400 {color : #f98b60;}
.color-orange-300 {color : #ffc057;}
.color-orange-200 {color : #ffe084;}

/*
 * Типография
 * Насыщенность, стиль, выравнивание, преоброзования
 */

.text-light  {font-weight : 300;}
.text-medium {font-weight : 500;}
.text-bold   {font-weight : 700;}

.text-italic {font-style  : italic;}
.text-normal {font-style  : normal;}

.text-left    {text-align : left;}
.text-right   {text-align : right;}
.text-center  {text-align : center;}
.text-justify {text-align : justify;}

.text-lowercase  {text-transform : lowercase;}
.text-uppercase  {text-transform : uppercase;}
.text-capitalize {text-transform : capitalize;}
.text-ellipsis {
  white-space   : nowrap;
  overflow      : hidden;
  text-overflow : ellipsis;}

/*
 * Стили, для input при валидации
 */

.alert {border: 2px solid #f44336 !important;}
.success {border: 2px solid #4caf50 !important;}
.warning {border: 2px solid #ffc107 !important;}

/*
 * Стили, для таблиц
 */

.new {background-color: #e8f5e9 !important;}
.del {background-color: #ffebee !important;}
.war {background-color: #fffde7 !important;}

.new > td {background-color: #e8f5e9 !important;}
.del > td {background-color: #ffebee !important;}
.war > td {background-color: #fffde7 !important;}
