<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="catalogApp" ng-cloak>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Good Night Medical</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,700&subset=latin,cyrillic' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Rubik:400,400italic,500,700&subset=latin,cyrillic' rel='stylesheet'>
  <link rel="stylesheet" href="../../content/css/lib/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="../../content/css/lib/angular/slider.css">
  <link rel="stylesheet" href="../../content/css/main.css">
  <link rel="stylesheet" href="../../content/css/modal.css">
  <link rel="stylesheet" href="../../content/css/catalog/header.css">
  <link rel="stylesheet" href="../../content/css/catalog/mainbody.css">
  <link rel="stylesheet" href="../../content/css/util.css">
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!--<script src="../../scripts/lib/jquery/jquery.min.js"></script>-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="../../scripts/lib/angular/angular.min.js"></script>
  <script src="../../scripts/lib/angular/angular-animate.min.js"></script>
  <script src="../../scripts/lib/angular/ellipsis.min.js"></script>
  <script src="../../scripts/lib/angular/slider.min.js"></script>
  <script src="../app.js"></script>
  <script src="../services/dataService.js"></script>
  <script src="../controllers/catalog/catalog.js"></script>
  <script src="../filters/priceFilter.js"></script>
  <script src="../filters/companyFilter.js"></script>

  <script src="../../scripts/lib/bootstrap/bootstrap.min.js"></script>
  <script src="../../scripts/script.js"></script>
</head>

<body  ng-controller="catalog as vm" ng-init="vm.init()">

<div id="darkness" ng-hide="vm.hiddenModal">
  <div id="modal">
    <div class="status ">Let Us Contact You</div>
    <form name="rentForm" novalidate ng-submit="vm.submitRental(rentForm)">
      <input type="text" name="name" ng-model="vm.rentMachine.fullName" placeholder="Full Name" autocomplete="off" required>
      <input type="email" name="email"
             ng-model="vm.rentMachine.email"
             placeholder="Email" autocomplete="off"
             ng-pattern="/^[_a-z0-9A-Z]+(\.[_a-z0-9A-Z]+)*@[a-z0-9A-Z-]+(\.[a-z0-9A-Z-]+)*(\.[a-zA-Z]{2,10})$/"
             required>

      <input type="text" name="phone" ng-model="vm.rentMachine.phone" placeholder="Phone Number" autocomplete="off" required>

      <hr>

      <span>Do you have a doctors prescription?</span>

      <div class="switchs sws-one">
        <div class="switch sw-one pull-left">
          <span>Yes</span>
          <label class="label label-one">
            <input type="radio" ng-model="vm.rentMachine.prescription" value="Yes" name="docPrescription">
            <div class="elem"></div>
          </label>
        </div>

        <div class="switch sw-two pull-left">
          <span>No</span>
          <label class="label label-two">
            <input type="radio" ng-model="vm.rentMachine.prescription" value="No" name="docPrescription">
            <div class="elem"></div>
          </label>
        </div>

        <div class="switch sw-three pull-left">
          <span>Unsure</span>
          <label class="label label-three">
            <input type="radio" ng-model="vm.rentMachine.prescription" value="Unsure" name="docPrescription">
            <div class="elem"></div>
          </label>
        </div>
      </div>

      <hr>

      <span>Preferred method of contact</span>

      <div class="switchs sws-two">
        <div class="switch sw-four pull-left">
          <span>Phone</span>
          <label class="label label-four">
            <input type="radio" ng-model="vm.rentMachine.contact" value="Phone" name="methodOfContact">
            <div class="elem"></div>
          </label>
        </div>

        <div class="switch sw-five pull-left">
          <span>Email</span>
          <label class="label label-five">
            <input type="radio" ng-model="vm.rentMachine.contact" value="Email" name="methodOfContact">
            <div class="elem"></div>
          </label>
        </div>
      </div>

      <hr>

      <textarea  ng-model="vm.rentMachine.comments" name="" placeholder="Comments"></textarea>

      <div class="btn-close" ng-click="vm.hiddenModal = !vm.hiddenModal">Close</div>
      <input type="submit" value="Send">
    </form>
  </div>
</div>

<div id="darkness" ng-hide="true"> <!-- Вторая модалка -->
  <div id="modal">
    <div class="status ">Let's Help You Pick a CPAP</div>
    <form name="rentForm" novalidate ng-submit="vm.submitRental(rentForm)">
      <input type="text" name="name" placeholder="Full Name" autocomplete="off" required>
      <input type="email" name="email"
             placeholder="Email" autocomplete="off"
             ng-pattern="/^[_a-z0-9A-Z]+(\.[_a-z0-9A-Z]+)*@[a-z0-9A-Z-]+(\.[a-z0-9A-Z-]+)*(\.[a-zA-Z]{2,10})$/"
             required>

      <input type="text" name="phone" placeholder="Phone Number" autocomplete="off" required>

      <hr>

      <span>Preferred method of contact</span>

      <div class="switchs sws-two">
        <div class="switch sw-four pull-left">
          <span>Phone</span>
          <label class="label label-four">
            <input type="radio" value="Phone" name="methodOfContact">
            <div class="elem"></div>
          </label>
        </div>

        <div class="switch sw-five pull-left">
          <span>Email</span>
          <label class="label label-five">
            <input type="radio" value="Email" name="methodOfContact">
            <div class="elem"></div>
          </label>
        </div>
      </div>

      <hr>

      <span>Are you a current Good Night Medical patient?</span>

      <div class="switchs sws-three">
        <div class="switch sw-six pull-left">
          <span>Yes</span>
          <label class="label label-one">
            <input type="radio" value="Yes" name="docPrescription">
            <div class="elem"></div>
          </label>
        </div>

        <div class="switch sw-seven pull-left">
          <span>No</span>
          <label class="label label-two">
            <input type="radio" value="No" name="docPrescription">
            <div class="elem"></div>
          </label>
        </div>

      </div>

      <hr>

      <textarea name="" placeholder="Comments"></textarea>

      <div class="btn-close">Close</div>
      <input type="submit" value="Send">
    </form>
  </div>
</div>

<div id="header">
  <div class="header">
    <div class="header-logotype"><img src="../../content/images/logotype.png" alt=""></div>
    <div class="header-nav-bar">
      <a href="../../index.html#home"">home</a>
      <div class="header-separate"></div>
      <a href="../../index.html#reasons"">reasons</a>
      <div class="header-separate"></div>
      <a href="../../index.html#process"">process</a>
      <div class="header-separate"></div>
      <a href="../../index.html#benefits"">benefits</a>
      <div class="header-separate"></div>
      <a href="../../index.html#rent"">rent</a>
      <div class="header-separate"></div>
      <a href="../../index.html#accredition"">accredition</a>
    </div>
    <div class="header-login hide">
      <a href="#">sign in</a>
      <div class="header-separate"></div>
      <a href="#">sign up</a>
    </div>
  </div>
</div>

<div id="mainbody">
  <div class="sidebar pull-left" ng-style="vm.returnHeight();">
    <form name="form" id="form" novalidate>

      <div class="form-price">
        <div class="form-price-title">Price</div>
        <rzslider rz-slider-model="vm.slider.minValue"
                  rz-slider-high="vm.slider.maxValue"
                  rz-slider-options="vm.slider.options"></rzslider>
        <div class="form-price-desc">
          <div class="pull-left" id="minCostDiv">&#36;{{vm.slider.minValue}}</div>
          <div class="pull-right" id="maxCostDiv">&#36;{{vm.slider.maxValue}}</div>
        </div>
      </div>

      <hr class="form-hr hide">

      <div class="form-buttons hide" ng-init="vm.filterOne = 0">
        <input class="form-left-btn pull-left"
               type="submit"
               value="all"
               ng-click="vm.filterOne = 0"
               ng-class="returnClassBtnFilterOne(0);">
        <input class="form-right-btn pull-left"
               type="submit"
               value="new"
               ng-click="vm.filterOne = 1"
               ng-class="returnClassBtnFilterOne(1);">
      </div>

      <hr class="form-hr">

      <div class="form-switch">
        <span>Refurbished</span>
        <label class="form-switch-label">
          <input type="checkbox">
          <div class="form-switch-elem"></div>
        </label>
      </div>

      <hr class="form-hr">

      <div class="form-switch">
        <span>Philips</span>
        <label class="form-switch-label">
          <input type="checkbox" ng-click="vm.includeCompany('Philips')">
          <div class="form-switch-elem"></div>
        </label>
      </div>

      <div class="form-switch">
        <span>ResMed</span>
        <label class="form-switch-label">
          <input type="checkbox" ng-click="vm.includeCompany('ResMed')">
          <div class="form-switch-elem"></div>
        </label>
      </div>

      <div class="form-switch">
        <span>Fisher &amp; Paykel</span>
        <label class="form-switch-label">
          <input type="checkbox" ng-click="vm.includeCompany('Fisher & Paykel')">
          <div class="form-switch-elem"></div>
        </label>
      </div>

      <hr class="form-hr">

      <div class="help-pick-btn">Let's Help You<br>Pick a CPAP</div>

    </form>
  </div>
  <div class="content pull-left">
    <input class="content-search"
           type="text"
           placeholder="model, etc."
           ng-model="search.name">
    <div class="content-elements">

      <div class="pull-left"
           ng-repeat="machine in vm.data | filter: search | companyFilter:vm.includedCompanies | priceFilter:vm.slider" ng-click="vm.rent(machine.id)">
        <div class="content-elements-rent">Rent</div>
        <div class="content-elements-img"><img ng-src="../../content/images/machines/{{machine.imageUrl}}" alt=""></div>
        <span class="content-elements-model">{{machine.name}}</span>
        <span class="content-elements-price">${{machine.pricePerMonth}} / month</span>
      </div>

    </div>
  </div>
</div>
</body>
</html>
