<!DOCTYPE html>
<html lang="en" ng-app="catalogApp" ng-cloak>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Good Night Medical</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,700&subset=latin,cyrillic' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Rubik:400,400italic,500,700&subset=latin,cyrillic' rel='stylesheet'>
  <link rel="stylesheet" href="../../content/css/lib/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="../../content/css/main.css">
  <link rel="stylesheet" href="../../content/css/ui.css">
  <link rel="stylesheet" href="../../content/css/modal.css">
  <link rel="stylesheet" href="../../content/css/pages/pg.style.css">
  <link rel="stylesheet" href="../../content/css/pages/pg.header.css">
  <link rel="stylesheet" href="../../content/css/pages/pg.sidebar.css">
  <link rel="stylesheet" href="../../content/css/pages/pg.content.css">
  <link rel="stylesheet" href="../../content/css/util.css">
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body class="orange" ng-controller="catalog as vm" ng-init="vm.init()">

  <div class="darkness" ng-hide="vm.hiddenModal">
    <div class="window">
      <div class="status">Let Us Contact You</div>

      <form autocomplete="off" ng-submit="vm.submitRental(rentForm)">
        <div class="group"> <!-- FULL NAME -->
          <input type="text" placeholder="Full Name" ng-model="vm.rentMachine.fullName" required>
        </div>

        <div class="group"> <!-- EMAIL -->
          <input type="email" placeholder="Email" ng-model="vm.rentMachine.email" required
                 ng-pattern="/^[_a-z0-9A-Z]+(\.[_a-z0-9A-Z]+)*@[a-z0-9A-Z-]+(\.[a-z0-9A-Z-]+)*(\.[a-zA-Z]{2,10})$/">
        </div>

        <div class="group"> <!-- PHONE -->
          <input type="text" placeholder="Phone Number" ng-model="vm.rentMachine.phone" required>
        </div>

        <hr>

        <div class="group"> <!-- DOCTORS PRESCRIPTION -->
          <label>Do you have a doctors prescription</label>
          <div class="modal-radio">
            <div class="radio-one">
              <div class="radio pull-left">
                <label>
                  <input type="radio" value="Yes" ng-model="vm.rentMachine.prescription" checked>
                  <span><span></span></span>Yes
                </label>
              </div>
              <div class="radio pull-left">
                <label>
                  <input type="radio" value="No" ng-model="vm.rentMachine.prescription">
                  <span><span></span></span>No
                </label>
              </div>
              <div class="radio pull-left">
                <label>
                  <input type="radio" value="Unsure" ng-model="vm.rentMachine.prescription">
                  <span><span></span></span>Unsure
                </label>
              </div>
            </div>
          </div>
        </div>

        <hr>

        <div class="group"> <!-- METHOD OF CONTACT -->
          <label>Preferred method of contact</label>
          <div class="modal-radio">
            <div class="radio-two">
              <div class="radio pull-left">
                <label>
                  <input type="radio" value="Phone" ng-model="vm.rentMachine.contact" checked>
                  <span><span></span></span>Phone
                </label>
              </div>
              <div class="radio pull-left">
                <label>
                  <input type="radio" value="Email" ng-model="vm.rentMachine.contact">
                  <span><span></span></span>Email
                </label>
              </div>
            </div>
          </div>
        </div>

        <hr>

        <div class="group"> <!-- MESSAGE -->
          <textarea placeholder="Message" ng-model="vm.rentMachine.comments"></textarea>
        </div>

        <div class="group grp-buttons"> <!-- BUTTONS -->
          <input class="left" type="button" value="Close" ng-click="vm.hiddenModal = !vm.hiddenModal">
          <input class="right" type="submit" value="Send">
        </div>
      </form>
    </div>
  </div>

  <header>
    <div class="wrapper">
      <img class="logotype pull-left" src="../../content/images/logotype.png" alt="Good Night Medical Logotype">
      <nav class="pull-right">
        <a href="../../index.html#home"">home</a>
        <div class="separate"></div>
        <a href="../../index.html#reasons"">reasons</a>
        <div class="separate"></div>
        <a href="../../index.html#process"">process</a>
        <div class="separate"></div>
        <a href="../../index.html#benefits"">benefits</a>
        <div class="separate"></div>
        <a href="../../index.html#rent"">rent</a>
        <div class="separate"></div>
        <a href="../../index.html#accredition"">accredition</a>
      </nav>
    </div>
  </header>

  <div class="mainbody">
    <aside class="sidebar pull-left">
      <form name="form" novalidate>
        <div class="group double-slider"> <!-- SLIDER -->
          <div class="title">Price</div>
          <rzslider rz-slider-model="vm.slider.minValue" rz-slider-high="vm.slider.maxValue" rz-slider-options="vm.slider.options"></rzslider>
          <div class="description">
            <div class="pull-left">&#36;{{vm.slider.minValue}}</div>
            <div class="pull-right">&#36;{{vm.slider.maxValue}}</div>
          </div>
        </div>

        <hr> <!-- SEPARATE -->

        <div class="group"> <!-- SWITCH -->
          <div class="switch">
            <label>Refurbished
              <input type="checkbox">
              <div><div></div></div>
            </label>
          </div>
        </div>

        <hr> <!-- SEPARATE -->

        <div class="group"> <!-- SWITCH -->
          <div class="switch">
            <label>Philips
              <input type="checkbox" ng-click="vm.includeCompany('Philips')">
              <div><div></div></div>
            </label>
          </div>

          <div class="switch">
            <label>ResMed
              <input type="checkbox" ng-click="vm.includeCompany('ResMed')">
              <div><div></div></div>
            </label>
          </div>

          <div class="switch">
            <label>Fisher &amp; Paykel
              <input type="checkbox" ng-click="vm.includeCompany('Fisher & Paykel')">
              <div><div></div></div>
            </label>
          </div>
        </div>

        <hr> <!-- SEPARATE -->
      </form>
      <a class="button" href="pages.html" >Let's Help You Pick a CPAP</a>
    </aside>

    <div class="content pull-right">
      <input class="search" type="search" placeholder="search..." ng-model="search.name">

      <div class="elem">

        <div class="pull-left"
             ng-repeat="machine in vm.data | filter: search | companyFilter:vm.includedCompanies | priceFilter:vm.slider"
             ng-click="vm.rent(machine.id)">
          <div class="rent">Rent</div>
          <div class="img"><img ng-src="{{machine.imageUrl}}" alt="{{machine.name}}"></div>
          <div class="model">{{machine.name}}</div>
          <div class="refurbished">{{machine.refurbished ? 'Refurbished' : 'New'}}</div>
          <div class="price">&dollar;{{machine.pricePerMonth}} &#47; month</div>
        </div>

      </div>
    </div>
  </div>

  <script src="../../scripts/lib/jquery/jquery.min.js"></script>
  <script src="../../scripts/lib/bootstrap/bootstrap.min.js"></script>
  <script src="../../scripts/lib/angular/angular.min.js"></script>
  <script src="../../scripts/lib/angular/slider.min.js"></script>
  <script src="../app.js"></script>
  <script src="../services/dataService.js"></script>
  <script src="../controllers/catalog/catalog.js"></script>
  <script src="../filters/priceFilter.js"></script>
  <script src="../filters/companyFilter.js"></script>
  <script src="../../scripts/script.js"></script>
</body>
</html>
