<!DOCTYPE html>
<html lang="en" ng-app>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Good Night Medical</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,700&subset=latin,cyrillic' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Rubik:400,400italic,500,700&subset=latin,cyrillic' rel='stylesheet'>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="../../content/css/lib/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="../../content/css/main.css">
  <link rel="stylesheet" href="../../content/css/ui.css">
  <link rel="stylesheet" href="../../content/css/modal.css">
  <link rel="stylesheet" href="../../content/css/landing/lp2.style.css">
  <link rel="stylesheet" href="../../content/css/landing/lp2.header.css">
  <link rel="stylesheet" href="../../content/css/landing/lp2.content.css">
  <link rel="stylesheet" href="../../content/css/util.css">
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body class="blue">

  <header>
    <div class="header"> <!-- TOP NAV BAR -->
      <img class="logotype pull-left" src="../../content/images/logotype.png" alt="Good Night Medical Logotype">
      <div class="nav-bar pull-right">
        <a href="../../index.html#home"">home</a>
        <div class="separate"></div>
        <a href="../../index.html#reasons"">reasons</a>
        <div class="separate"></div>
        <a href="../../index.html#process"">process</a>
        <div class="separate"></div>
        <a href="../../index.html#benefits"">benefits</a>
        <div class="separate"></div>
        <a href="../../index.html#rent"">rent</a>
        <div class="separate"></div>
        <a href="../../index.html#accredition"">accredition</a>
      </div>
    </div>

    <div class="mind">Rental Program</div>

    <div class="preview"> <!-- IMG PREVIEW -->
      <img src="../../content/images/machines/resmed-s9-auto-cpap.jpg">
      <img src="../../content/images/machines/resmed-s10-airsense-auto.jpg">
      <img src="../../content/images/machines/philips-respironics-dreamstation-bipap.jpg">
    </div>
  </header>

  <div class="content">
    <div class="elem"> <!-- Refurbished CPAP -->
      <div class="title">Refurbished CPAP</div>
      <div class="info">
        <span class="every">monthly<br>price</span>
        <span class="price">&dollar;29</span>
        <span class="ships">+2.00<br>S&amp;H</span>
      </div>
      <div class="group">
        <div class="radio">
          <label>
            <input type="radio" name="select">
            <div>Select</div>
          </label>
        </div>
      </div>
      <div class="desc">Our most affordable option, refurbished machines are perfect for users who are currently or have previously undergone therapy. Each machines goes through a rigorous 27 point inspection and cleaning.</div>
      <hr>
      <ul>
        <li>No insurance necessary</li>
        <hr>
        <li>Standard pressure capability</li>
        <hr>
        <li>The Good Knight’s Guarantee</li>
        <hr>
        <li>Humidifier included</li>
      </ul>
      <hr>
      <a href="landing-2-2-1.html" class="more">Learn More</a>
    </div>

    <div class="elem"> <!-- News CPAP -->
      <div class="title">New CPAP</div>
      <div class="info">
        <span class="every">monthly<br>price</span>
        <span class="price">&dollar;49</span>
        <span class="ships">ships<br>free</span>
      </div>
      <div class="group">
        <div class="radio">
          <label>
            <input type="radio" name="select" checked>
            <div>Select</div>
          </label>
        </div>
      </div>
      <div class="desc">Looking for a machine insurance will cover? Sometimes insurance requires starting out on rentals. These machines provide the highest quality care, with data upload capability and advanced pressure titration.</div>
      <hr>
      <ul>
        <li>Full compliance and efficacy reporting</li>
        <hr>
        <li>Auto adjusting pressure</li>
        <hr>
        <li>Manufacturer’s Warranty</li>
        <hr>
        <li>Covered by most insurance</li>
      </ul>
      <hr>
      <a href="landing-2-2-2.html" class="more">Learn More</a>
    </div>

    <div class="elem"> <!-- BiPAP -->
      <div class="title">BIPAP</div>
      <div class="info">
        <span class="every">monthly<br>price</span>
        <span class="price">&dollar;75</span>
        <span class="ships">ships<br>free</span>
      </div>
      <div class="group">
        <div class="radio">
          <label>
            <input type="radio" name="select">
            <div>Select</div>
          </label>
        </div>
      </div>
      <div class="desc">Premium bilevel sleep therapy that automatically adjusts inspiratory and expiratory pressure on a breath-by-breath basis</div>
      <hr>
      <ul>
        <li>Perfect for high pressure settings or low oxygen levels</li>
        <hr>
        <li>Bi-level auto adjusting pressure</li>
        <hr>
        <li>Manufacturer’s Warranty</li>
        <hr>
        <li>Humidifier included</li>
      </ul>
      <hr>
      <a href="landing-2-2-3.html" class="more">Learn More</a>
    </div>
  </div>

  <script src="../../scripts/lib/jquery/jquery.min.js"></script>
  <script src="../../scripts/lib/jquery/jquery-ui.min.js"></script>
  <script src="../../scripts/lib/angular/angular.min.js"></script>
  <script src="../../scripts/lib/angular/angular-animate.min.js"></script>
  <script src="../../scripts/lib/angular/ellipsis.min.js"></script>
  <script src="../app.js"></script>
  <script src="../../scripts/lib/bootstrap/bootstrap.min.js"></script>
  <script src="../../scripts/script.js"></script>
</body>
</html>
