<!DOCTYPE html>
<html lang="en" ng-app>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Good Night Medical</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,700&subset=latin,cyrillic' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Rubik:400,400italic,500,700&subset=latin,cyrillic' rel='stylesheet'>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="../../content/css/lib/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="../../content/css/main.css">
  <link rel="stylesheet" href="../../content/css/ui.css">
  <link rel="stylesheet" href="../../content/css/modal.css">
  <link rel="stylesheet" href="../../content/css/landing/lp2.style.css">
  <link rel="stylesheet" href="../../content/css/landing/lp2.header.css">
  <link rel="stylesheet" href="../../content/css/landing/lp2.content.css">
  <link rel="stylesheet" href="../../content/css/util.css">
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body class="blue">

  <header class="thanks">
    <div class="header"> <!-- TOP NAV BAR -->
      <img class="logotype pull-left" src="../../content/images/logotype.png" alt="Good Night Medical Logotype">
      <div class="nav-bar pull-right">
        <a href="../../index.html#home"">home</a>
        <div class="separate"></div>
        <a href="../../index.html#reasons"">reasons</a>
        <div class="separate"></div>
        <a href="../../index.html#process"">process</a>
        <div class="separate"></div>
        <a href="../../index.html#benefits"">benefits</a>
        <div class="separate"></div>
        <a href="../../index.html#rent"">rent</a>
        <div class="separate"></div>
        <a href="../../index.html#accredition"">accredition</a>
      </div>
    </div>
    <div class="text">Thank you for your submission! We will follow up with you via phone or email in the next few days to complete your order</div>
  </header>

  <div class="content thanks">
    <div class="title">Shipping Information</div>
    <div class="description">
      <div class="pull-left">First Name</div>
      <div class="pull-right">Artyom</div>
    </div>
    <div class="description">
      <div class="pull-left">Last Name</div>
      <div class="pull-right">Danilchenko</div>
    </div>
    <div class="description">
      <div class="pull-left">Address Line</div>
      <div class="pull-right">pr. Satpaev 104-28</div>
    </div>
    <div class="description">
      <div class="pull-left">State &amp; Zip</div>
      <div class="pull-right">Alabama (36006)</div>
    </div>

    <hr>

    <div class="title">Billing Information</div>
    <div class="description">
      <div class="pull-left">Credit Card Number</div>
      <div class="pull-right">1111 2222 3333 4444</div>
    </div>
    <div class="description">
      <div class="pull-left">Month / Year</div>
      <div class="pull-right">12 / 24</div>
    </div>
    <div class="description">
      <div class="pull-left">First Name</div>
      <div class="pull-right">Artyom</div>
    </div>
    <div class="description">
      <div class="pull-left">Last Name</div>
      <div class="pull-right">Danilchenko</div>
    </div>
    <div class="description">
      <div class="pull-left">Address Line</div>
      <div class="pull-right">pr. Satpaev 104-28</div>
    </div>
    <div class="description">
      <div class="pull-left">State &amp; Zip</div>
      <div class="pull-right">Alabama (36006)</div>
    </div>
  </div>

  <script src="../../scripts/lib/jquery/jquery.min.js"></script>
  <script src="../../scripts/lib/jquery/jquery-ui.min.js"></script>
  <script src="../../scripts/lib/angular/angular.min.js"></script>
  <script src="../../scripts/lib/angular/angular-animate.min.js"></script>
  <script src="../../scripts/lib/angular/ellipsis.min.js"></script>
  <script src="../app.js"></script>
  <script src="../../scripts/lib/bootstrap/bootstrap.min.js"></script>
  <script src="../../scripts/script.js"></script>
</body>
</html>
