<div class="process">
    <div class="process-title">Mollitia nesciunt praesentium in dolore</div>
    <div class="process-step-one pull-left">
        <img class="process-step-img pull-left" src="content/images/other/step-1.png" alt="">
        <div class="process-step-text pull-right">
            <div class="process-step-title">Earum recusandae</div>
            <div class="process-step-description">Voluptas dolorum hic veniam, repudiandae nulla, doloribus non rerum maxime cupiditate. Facilis!</div>
        </div>
    </div>
    <div class="process-step-two pull-left">
        <img class="process-step-img pull-left" src="content/images/other/step-2.png" alt="">
        <div class="process-step-text pull-right">
            <div class="process-step-title">Sunt, repellat</div>
            <div class="process-step-description">Voluptas dolorum hic veniam, repudiandae nulla, doloribus non rerum maxime cupiditate. Facilis!</div>
        </div>
    </div>
    <div class="process-step-three pull-left">
        <img class="process-step-img pull-left" src="content/images/other/step-3.png" alt="">
        <div class="process-step-text pull-right">
            <div class="process-step-title">Officia optio ipsum</div>
            <div class="process-step-description">Voluptas dolorum hic veniam, repudiandae nulla, doloribus non rerum maxime cupiditate. Facilis!</div>
        </div>
    </div>
</div>