<div class="process" ng-controller="process">
    <div class="process-title">{{content.Title}}</div>
    <div class="process-step-one pull-left">
        <img class="process-step-img pull-left" src="content/images/other/step-1.png" alt="">
        <div class="process-step-text pull-right">
            <div class="process-step-title">{{content.Step1.Title}}</div>
            <div class="process-step-description">{{content.Step1.Description}}</div>
        </div>
    </div>
    <div class="process-step-two pull-left">
        <img class="process-step-img pull-left" src="content/images/other/step-2.png" alt="">
        <div class="process-step-text pull-right">
            <div class="process-step-title">{{content.Step2.Title}}</div>
            <div class="process-step-description">{{content.Step2.Description}}</div>
        </div>
    </div>
    <div class="process-step-three pull-left">
        <img class="process-step-img pull-left" src="content/images/other/step-3.png" alt="">
        <div class="process-step-text pull-right">
            <div class="process-step-title">{{content.Step3.Title}}</div>
            <div class="process-step-description">{{content.Step3.Description}}</div>
        </div>
    </div>
</div>