<div class="reasons" name="reasons" ng-controller="reasons">

  <article>
    <img class="pull-left" src="content/images/reasons/photo-1.jpg" alt="">
    <div class="info pull-right">
      <div>{{content.Title1}}</div>
      <hr>
      <div>{{content.Description1}}</div>
    </div>
  </article>

  <article>
    <img class="pull-right" src="content/images/reasons/photo-2.jpg" alt="">
    <div class="info pull-left">
      <div>{{content.Title2}}</div>
      <hr>
      <div>{{content.Description2}}</div>
    </div>
  </article>

</div>
