/*
 * Common styles for all header
 */

.header {
  width: 100%;
  height: 90px;
  padding: 10px 0;}

.header.head1 {background-color: #393E46;}
.header.head2 {background-color: transparent;}

@media (max-width: 999px)  {.header .container { padding: 0 20px;}}
@media (min-width: 1000px) {.header .container { padding: 0;}}

.header nav {
  font-size: 0;
  padding: 26px 0;}

.header nav > * {
  font: 500 12px 'Roboto';
  line-height: 19px;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  color: #fff;}

.header .logotype {
  width: 123px;
  height: 70px;}

.header .logotype svg,
.header .logotype svg path {fill: #fff;}

/*
 * Header for large Screens
 */

.header .nav1 .phone {
  position: relative;
  height: 19px;
  vertical-align: middle;}

.header .nav1 .phone-icon {
  line-height: normal;
  height: 19px;}

.header .nav1 .phone-icon svg,
.header .nav1 .phone-icon svg path {fill: #fff;}
.header .nav1 .phone-icon:hover svg,
.header .nav1 .phone-icon:hover svg path {fill: #579eff;}

.header .nav1 .phone-popup {
  font: 500 13px 'Roboto';
  line-height: 12px;
  position: absolute;
  top: 50%;
  right: 26px;
  padding: 12px;
  white-space: nowrap;
  opacity: 0;
  color: #000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
  -webkit-transform: translate(0, -50%);
     -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
       -o-transform: translate(0, -50%);
          transform: translate(0, -50%);}

.header .nav1 .phone-icon:hover + .phone-popup {opacity: 1;}
.header .nav1 a {margin-bottom: -2px;}
.header .nav1 a:hover {color: #579eff;}

.header .nav1 .separate {
  width: 4px;
  height: 4px;
  margin: 0 7px;
  cursor: default;
  opacity: .5;
  background-color: #fff;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;}

/*
 * Header for small Screens
 */

.header .nav2 {
  font-size: 0;
  padding: 26px 0;
  color: #fff;}

.header .nav2 div {cursor: pointer;}

.header .nav2 span {
  font: 500 16px 'Roboto';
  line-height: 19px;
  display: inline-block;
  height: 19px;
  margin-left: 5px;
  vertical-align: middle;
  color: #fff;}

.header .nav2 div:hover span {color: #579eff;}

.header .nav2 span,
.header .nav2 span svg,
.header .nav2 span svg path {fill: #fff;}
.header .nav2 div:hover span,
.header .nav2 div:hover span svg,
.header .nav2 div:hover span svg path {fill: #579eff;}


/*
 * Fixed nav menu for small Screens
 */

.header .menu-fixed-dark {
  position: fixed;
  z-index: 900;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(57, 62, 70, .85);}

.header .menu-fixed {
  position: fixed;
  z-index: 910;
  top: 0;
  right: 0;
  width: 240px;
  height: 100%;
  background-color: #222831;}

.header .menu-fixed-cross {
  position: fixed;
  z-index: 910;
  top: 20px;
  right: 260px;
  width: 40px;
  height: 40px;}

.header .menu-fixed-cross svg,
.header .menu-fixed-cross svg path {fill: #fff;}
.header .menu-fixed-cross:hover svg,
.header .menu-fixed-cross:hover svg path {fill: #579eff;}

.header .menu-fixed div {
  position: absolute;
  top: 0;
  right: -20px;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  height: 100%;
  margin: 0;
  padding: 0;}

.header .menu-fixed ul {
  display: block;
  margin: 30px;
  padding: 0;}

.header .menu-fixed ul * {
  width: 100%;
  margin: 0;
  padding: 0;
  color: #fff;}

.header .menu-fixed ul > * {
  margin: 0 0 7px 0;}

.header .menu-fixed ul a {
  font: 500 16px 'Roboto';
  text-align: left;
  text-transform: uppercase;}

.header .menu-fixed ul a:hover {
  color: #579eff;}

.header .menu-fixed ul hr {
  height: 1px;
  margin: 15px 0;
  border: none;
  background-color: rgba(255, 255, 255, .15);}

.header .menu-fixed ul .phone-nubmer {
  font: 500 20px 'Roboto';
  text-align: center;}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
  display: block !important;
  opacity: 0;}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
  display: block !important;
  opacity: 1;}

/*
 * Header with back button and logo
 */

.header.head-back .row > div {height: 70px;}

@media (max-width: 999px)  {.header.head-back .logotype {float: right;}}
@media (min-width: 1000px) {.header.head-back .logotype {margin: 0 auto;}}

.header.head-back .back-link {
  font-size: 0;
  position: absolute;
  top: 50%;
  color: #fff;
  -webkit-transform: translate(0, -50%);
     -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
       -o-transform: translate(0, -50%);
          transform: translate(0, -50%);}

.header.head-back .back-link div {
  cursor: pointer;}

.header.head-back .back-link span {
  font: 500 16px 'Roboto';
  line-height: 19px;
  display: inline-block;
  height: 19px;
  margin-right: 3px;
  vertical-align: middle;
  text-transform: uppercase;
  color: #fff;}

.header.head-back .back-link:hover span {
  color: #579eff;}

.header.head-back .back-link span,
.header.head-back .back-link span svg,
.header.head-back .back-link span svg path {fill: #fff;}
.header.head-back .back-link div:hover span,
.header.head-back .back-link div:hover span svg,
.header.head-back .back-link div:hover span svg path {fill: #579eff;}
