<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="landingApp" ng-cloak>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Good Night Medical</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,700&subset=latin,cyrillic' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Rubik:400,400italic,500,700&subset=latin,cyrillic' rel='stylesheet'>
  <link rel="stylesheet" href="content/css/lib/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="content/css/main.css">
  <link rel="stylesheet" href="content/css/modal.css">
  <link rel="stylesheet" href="content/css/landing/block-1.css">
  <link rel="stylesheet" href="content/css/landing/block-2.css">
  <link rel="stylesheet" href="content/css/landing/block-3.css">
  <link rel="stylesheet" href="content/css/landing/block-4.css">
  <link rel="stylesheet" href="content/css/landing/block-5.css">
  <link rel="stylesheet" href="content/css/landing/block-6.css">
  <link rel="stylesheet" href="content/css/landing/block-7.css">
  <link rel="stylesheet" href="content/css/landing/forms.css">
  <link rel="stylesheet" href="content/css/util.css">
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
 <!-- <script src="scripts/lib/jquery/jquery.min.js"></script> -->

</head>

<body ng-controller="rental as vm">

<div id="darkness" ng-show="vm.thankYouModal == true">
  <div id="modal">

    <div class="text" style="color:black">Thank you for your interest!<br>We will contact as soon as possible!</div>
    <div class="btn-close" ng-click="vm.thankYouModal = false;">Close</div>

  </div>
</div>

 <div id="darkness" ng-hide="vm.hiddenModal">
  <div id="modal">
    <div class="status ">Let Us Contact You</div>
    <form name="rentForm" novalidate ng-submit="vm.submitRental(rentForm)">
      <input type="text" name="name" ng-model="vm.rent.fullName" placeholder="Full Name" autocomplete="off" required>
      <input type="email" name="email"
             ng-model="vm.rent.email"
             placeholder="Email" autocomplete="off"
             ng-pattern="/^[_a-z0-9A-Z]+(\.[_a-z0-9A-Z]+)*@[a-z0-9A-Z-]+(\.[a-z0-9A-Z-]+)*(\.[a-zA-Z]{2,10})$/"
             required>

      <input type="text" name="phone" ng-model="vm.rent.phone" placeholder="Phone Number" autocomplete="off" required>

      <hr>

      <span>Do you have a doctors prescription?</span>

      <div class="switchs sws-one">
        <div class="switch sw-one pull-left">
          <span>Yes</span>
          <label class="label label-one">
            <input type="radio" ng-model="vm.rent.prescription" value="Yes" name="docPrescription">
            <div class="elem"></div>
          </label>
        </div>

        <div class="switch sw-two pull-left">
          <span>No</span>
          <label class="label label-two">
            <input type="radio" ng-model="vm.rent.prescription" value="No" name="docPrescription">
            <div class="elem"></div>
          </label>
        </div>

        <div class="switch sw-three pull-left">
          <span>Unsure</span>
          <label class="label label-three">
            <input type="radio" ng-model="vm.rent.prescription" value="Unsure" name="docPrescription">
            <div class="elem"></div>
          </label>
        </div>
      </div>

      <hr>

      <span>Preferred method of contact</span>

      <div class="switchs sws-two">
        <div class="switch sw-four pull-left">
          <span>Phone</span>
          <label class="label label-four">
            <input type="radio" ng-model="vm.rent.contact" value="Phone" name="methodOfContact">
            <div class="elem"></div>
          </label>
        </div>

        <div class="switch sw-five pull-left">
          <span>Email</span>
          <label class="label label-five">
            <input type="radio" ng-model="vm.rent.contact" value="Email" name="methodOfContact">
            <div class="elem"></div>
          </label>
        </div>
      </div>

      <hr>

      <textarea  ng-model="vm.rent.comments" name="" placeholder="Comments"></textarea>

      <div class="btn-close" ng-click="vm.hiddenModal = !vm.hiddenModal">Close</div>
      <input type="submit" value="Send">
    </form>
  </div>
</div>

<div id="home" name="home" ng-style="vm.returnHeight();">
  <div class="header">
    <div class="header-logotype"><img src="content/images/logotype.png" alt=""></div>
    <div class="header-nav-bar">
      <a href="#home">home</a>
      <div class="header-separate"></div>
      <a href="#reasons">reasons</a>
      <div class="header-separate"></div>
      <a href="#process">process</a>
      <div class="header-separate"></div>
      <a href="#benefits">benefits</a>
      <div class="header-separate"></div>
      <a href="#rent">rent</a>
      <div class="header-separate"></div>
      <a href="#accredition">accredition</a>
    </div>
    <div class="header-login hide">
      <a href="#">sign in</a>
      <div class="header-separate"></div>
      <a href="#">sign up</a>
    </div>
  </div>

  <div ng-include="'app/views/mind.html'"></div>

  <div class="scroll">
    <svg x="0px" y="0px" width="30px" height="53px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 53">
      <path d="M15,0A15,15,0,0,0,0,15V38a15,15,0,0,0,30,0V15A15,15,0,0,0,15,0ZM28.21,38A13.21,13.21,0,0,1,1.79,38V15A13.21,13.21,0,0,1,28.2,15V38h0ZM15.13,18.61H14.87a1.27,1.27,0,0,1-1.28-1.28V13a1.28,1.28,0,0,1,1.28-1.28h0.26A1.27,1.27,0,0,1,16.41,13v4.3a1.29,1.29,0,0,1-1.28,1.31h0Zm4.46,18.18-4.59,4-4.64-4a0.89,0.89,0,0,1,1.15-1.36l2.56,2.2V29.29a0.9,0.9,0,0,1,1.79,0v8.35l2.56-2.2a0.89,0.89,0,1,1,1.15,1.36h0Z" fill="#fff" />
    </svg>
  </div>

  <div class="bot-cut">
    <svg x="0px" y="0px" width="100%" height="40px" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1280 40">
      <path d="M0,30S320,0,640,0s640,30,640,30V40H0V30Z" fill="#f0f0f2" />
    </svg>
  </div>
</div>

  <div ng-include="'app/views/reasons.html'"></div>

<div id="process" name="process">
  <div class="top-cut">
    <svg x="0px" y="0px" width="100%" height="40px" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1280 40">
      <path d="M0,0H1280V10S943.21,40,640,40C314.4,40,0,10,0,10V0Z" fill="#f0f0f2" />
    </svg>
  </div>

  <div ng-include="'app/views/process.html'"></div>

  <div class="bot-cut">
    <svg x="0px" y="0px" width="100%" height="40px" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1280 40">
      <path d="M0,30S320,0,640,0s640,30,640,30V40H0V30Z" fill="#f0f0f2" />
    </svg>
  </div>
</div>

 <div ng-include="'app/views/benefits.html'"></div>

 <div ng-include="'app/views/rent.html'"></div>

<div id="accredition" name="accredition">
  <div class="accredition">
    <img class="pull-left" src="content/images/accredition/chap-logo.jpg" alt="">
    <img class="pull-left" src="content/images/accredition/aasm-logo.jpg" alt="">
  </div>
</div>

 <div ng-include="'app/views/copyright.html'"></div>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
 <script src="scripts/lib/angular/angular.min.js"></script>
 <script src="scripts/lib/angular/ellipsis.min.js"></script>
 <script src="app/services/dataService.js"></script>
 <script src="app/app.js"></script>

 <script src="app/controllers/landing/rental.js"></script>
 <script src="app/controllers/landing/mind.js"></script>
 <script src="app/controllers/landing/reasons.js"></script>
 <script src="app/controllers/landing/process.js"></script>
 <script src="scripts/lib/bootstrap/bootstrap.min.js"></script>
 <script src="scripts/script.js"></script>
</body>
</html>
