/*
 * Grouping
 */

form .group {
  position: relative;
  margin-bottom: 20px;}

form > :last-child {margin-bottom: 0;}

form .group > label {
  font-weight: bold;
  display: block;
  width: 100%;
  margin-bottom: 5px;}

/*
 * Input forms (text, search, password)
 */

form .group input[type='text'],
form .group input[type='date'],
form .group input[type='search'],
form .group input[type='password'] {
  display: block;
  width: 100%;
  height: 34px;
  padding: 0 10px;
  color: #222831;
  border: 2px solid #ddd;
  border-radius: 3px;
  background-color: #fff;}

form .group input[type='text']:hover,
form .group input[type='text']:focus,
form .group input[type='date']:hover,
form .group input[type='date']:focus,
form .group input[type='search']:hover,
form .group input[type='search']:focus,
form .group input[type='password']:hover,
form .group input[type='password']:focus {border: 2px solid #fe7847;}

form .group input[type='text']:focus::-webkit-input-placeholder     {color: transparent}
form .group input[type='text']:focus::-moz-placeholder              {color: transparent}
form .group input[type='text']:focus:-moz-placeholder               {color: transparent}
form .group input[type='text']:focus:-ms-input-placeholder          {color: transparent}
form .group input[type='search']:focus::-webkit-input-placeholder   {color: transparent}
form .group input[type='search']:focus::-moz-placeholder            {color: transparent}
form .group input[type='search']:focus:-moz-placeholder             {color: transparent}
form .group input[type='search']:focus:-ms-input-placeholder        {color: transparent}
form .group input[type='password']:focus::-webkit-input-placeholder {color: transparent}
form .group input[type='password']:focus::-moz-placeholder          {color: transparent}
form .group input[type='password']:focus:-moz-placeholder           {color: transparent}
form .group input[type='password']:focus:-ms-input-placeholder      {color: transparent}

/*
 * Input forms (text area)
 */

form .group textarea {
  display: block;
  width: 100%;
  min-height: 120px;
  padding: 10px;
  resize: none;
  color: #222831;
  border: 2px solid #ddd;
  border-radius: 3px;
  background-color: #fff;}

form .group textarea:hover,
form .group textarea:focus {border: 2px solid #fe7847;}

form .group textarea:focus::-webkit-input-placeholder {color: transparent}
form .group textarea:focus::-moz-placeholder          {color: transparent}
form .group textarea:focus:-moz-placeholder           {color: transparent}
form .group textarea:focus:-ms-input-placeholder      {color: transparent}

/*
 * Radio buttons
 */

form .group .radio {
  position: relative;
  display: block;
  margin: 0;}

form .group .radio label {
  font-weight: normal;
  min-height: 26px;
  margin-bottom: 0;
  padding-left: 26px;
  cursor: pointer;}

form .group .radio label input[type='radio'] {
  line-height: normal;
  position: absolute;
  margin: 4px 0 0;
  margin-left: -20px;
  padding: 0;
  cursor: pointer;
  opacity: 0;}

form .group .radio label > span {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #ddd;}

form .group .radio label > span > span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  -webkit-transform: translate(-50%,-50%);
     -moz-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
       -o-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  border-radius: 6px;
  background-color: #fff;}

form .group .radio label input[type='radio']:hover + span,
form .group .radio label input[type='radio']:checked + span {box-shadow: inset 0 0 0 2px #fe7847;}

form .group .radio label input[type='radio']:checked + span > span {
  width: 10px;
  height: 10px;
  background-color: #fe7847;}

/*
 * Checkboxs
 */

form .group .checkbox {
  position: relative;
  display: block;
  margin: 0;}

form .group .checkbox label {
  font-weight: normal;
  min-height: 26px;
  margin-bottom: 0;
  padding-left: 26px;
  cursor: pointer;}

form .group .checkbox label input[type='checkbox'] {
  line-height: normal;
  position: absolute;
  margin: 4px 0 0;
  margin-left: -20px;
  padding: 0;
  cursor: pointer;
  opacity: 0;}

form .group .checkbox label > span {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #ddd;}

form .group .checkbox label > span > span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  -webkit-transform: translate(-50%,-50%);
     -moz-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
       -o-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  border-radius: 1px;
  background-color: #fff;}

form .group .checkbox label input[type='checkbox']:hover + span,
form .group .checkbox label input[type='checkbox']:checked + span {box-shadow: inset 0 0 0 2px #fe7847;}

form .group .checkbox label input[type='checkbox']:checked + span > span {
  width: 10px;
  height: 10px;
  background-color: #fe7847;}

/*
 * Buttons (reset, submit)
 */

form .group.grp-buttons {min-height: 40px;}

form .group input[type='reset'],
form .group input[type='submit'] {
  font-weight: 600;
  display: block;
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border: 0 solid #f98b60;
  border-radius: 3px;
  background-color: #f98b60;}

form .group input.left,
form .group input.right {
  position: absolute;
  bottom: 0;}

form .group input.left   {left: 0;}
form .group input.right  {right: 0;}
form .group input.center {margin: auto;}

form .group input.left:hover,
form .group input.left:focus,
form .group input.left:active,
form .group input.right:hover,
form .group input.right:focus,
form .group input.right:active,
form .group input.center:hover,
form .group input.center:focus,
form .group input.center:active {
  border-color: #fe7847;
  background-color: #fe7847;}

form .group input.center:hover,
form .group input.center:focus,
form .group input.center:active {padding: 10px 35px;}

/*
 * File selection
 */

form .group .grp-file {display: table;}

form .group .grp-file label {
  display: table-cell;
  width: 1%;
  max-width: 100%;
  margin-bottom: 0;
  vertical-align: middle;
  white-space: nowrap;}

form .group .grp-file label span {
  font-size: 14px;
  font-weight: 600;
  position: relative;
  display: block;
  margin: 0;
  padding: 10px 15px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #fff;
  border: 0px solid #f98b60;
  border-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #f98b60;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;}

form .group .grp-file label span:hover {
  border: 0px solid #fe7847;
  background-color: #fe7847;}

form .group .grp-file label span input[type='file'] {display: none;}

form .group .grp-file input[type='text'] {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  color: #222831;
  border: 2px solid #ddd;
  border-left: 0;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #fff;}

form .group .help {
  font-size: 12px;
  font-style: italic;
  margin-top: 5px;
  text-align: right;
  text-transform: lowercase;}
