<header class="catalog"> <!-- HEADER -->

  <div class="header">
    <div class="logotype"><img src="content/images/logotype.png" alt=""></div>
  </div>

  <div class="mind">Rental Program</div>

  <div class="preview">
    <img src="content/images/machines/resmed-s9-auto-cpap.jpg">
    <img src="content/images/machines/resmed-s10-airsense-auto.jpg">
    <img src="content/images/machines/philips-respironics-dreamstation-bipap.jpg">
  </div>

</header>

<div class="content">

  <div class="elem"> <!-- REFURBISHED CPAP -->
    <div class="title">Refurbished CPAP</div>
    <div class="info">
      <span class="every">monthly<br>price</span>
      <span class="price">&dollar;29</span>
      <span class="ships">+2.00<br>S&amp;H</span>
    </div>
    <div class="select-btn">
      <input type="button" value="select" ui-sref="billing">
    </div>
    <div class="desc">Our most affordable option, refurbished machines are perfect for users who are currently or have previously undergone therapy. Each machines goes through a rigorous 27 point inspection and cleaning.</div>
    <hr>
    <ul>
      <li>No insurance necessary</li>
      <hr>
      <li>Standard pressure capability</li>
      <hr>
      <li>The Good Knight’s Guarantee</li>
      <hr>
      <li>Humidifier included</li>
    </ul>
    <hr>
    <a ui-sref="machine.refCpap" class="more">Learn More</a>
  </div>

  <div class="elem"> <!-- NEW CPAP -->
    <div class="title">New CPAP</div>
    <div class="info">
      <span class="every">monthly<br>price</span>
      <span class="price">&dollar;49</span>
      <span class="ships">ships<br>free</span>
    </div>
    <div class="select-btn">
      <input type="button" value="select" ui-sref="billing">
    </div>
    <div class="desc">Looking for a machine insurance will cover? Sometimes insurance requires starting out on rentals. These machines provide the highest quality care, with data upload capability and advanced pressure titration.</div>
    <hr>
    <ul>
      <li>Full compliance and efficacy reporting</li>
      <hr>
      <li>Auto adjusting pressure</li>
      <hr>
      <li>Manufacturer’s Warranty</li>
      <hr>
      <li>Covered by most insurance</li>
    </ul>
    <hr>
    <a ui-sref="machine.newCpap" class="more">Learn More</a>
  </div>

  <div class="elem"> <!-- NEW BIPAP -->
    <div class="title">BIPAP</div>
    <div class="info">
      <span class="every">monthly<br>price</span>
      <span class="price">&dollar;75</span>
      <span class="ships">ships<br>free</span>
    </div>
    <div class="select-btn">
      <input type="button" value="select" ui-sref="billing">
    </div>
    <div class="desc">Premium bilevel sleep therapy that automatically adjusts inspiratory and expiratory pressure on a breath-by-breath basis</div>
    <hr>
    <ul>
      <li>Perfect for high pressure settings or low oxygen levels</li>
      <hr>
      <li>Bi-level auto adjusting pressure</li>
      <hr>
      <li>Manufacturer’s Warranty</li>
      <hr>
      <li>Humidifier included</li>
    </ul>
    <hr>
    <a ui-sref="machine.newBipap" class="more">Learn More</a>
  </div>
</div>
