<div ng-controller="catalog">

  <header class="catalog">
    <div class="header">
      <div class="logotype"><img src="content/img/logotype.png" alt=""></div>
    </div>

    <div class="mind">Rental Program</div>

    <div class="preview">
      <img ng-repeat="data in content" ng-src="{{data.imageUrl}}">
    </div>
  </header>

  <div class="content">
    <div class="elem" ng-repeat="data in content">
      <div class="title">{{data.title}}</div>

      <div class="info">
        <span class="every">monthly<br>price</span>
        <span class="price">&dollar;{{data.price}}</span>
        <span class="ships">{{data.ships}}</span>
      </div>

      <div class="select-btn">
        <input type="button" value="select" ng-click="modalShow(data.title);">
      </div>

      <div class="desc">{{data.description}}</div>

      <hr>
      <ul>
        <li ng-repeat-start="list in data.features">{{list}}</li>
        <hr ng-repeat-end>
      </ul>

      <a ui-sref="machine.type({type:data.type})" class="more">Learn More</a>
    </div>
</div>
