<div ng-controller="catalog">

  <header class="catalog">
    <header class="head">
      <div class="wrapper">
        <img class="logotype pull-left" src="content/img/logotype.png" alt="">
        <span class="number pull-left">{{ourPhoneNumber}}</span>
        <nav class="pull-right">
          <a class="phone" href=""></a>
          <div class="separate"></div>
          <a href="">home</a>
          <div class="separate"></div>
          <a href="">about us</a>
          <div class="separate"></div>
          <a href="">buy</a>
          <div class="separate"></div>
          <a href="">rent</a>
          <div class="separate"></div>
          <a href="">auto re-supply</a>
          <div class="separate"></div>
          <a href="">home sleep</a>
          <div class="separate"></div>
          <a href="">billing</a>
          <div class="separate"></div>
          <a href="">faq</a>
        </nav>
      </div>
    </header>

    <div class="mind">Rental Program</div>

    <div class="preview">
      <img ng-repeat="data in content" ng-src="{{data.imageUrl}}">
    </div>
  </header>

  <div class="content">
    <div class="elem" ng-repeat="data in content">
      <div class="title">{{data.title}}</div>

      <div class="info">
        <span class="every">monthly<br>price</span>
        <span class="price">&dollar;{{data.price}}</span>
        <span class="ships">{{data.ships}}</span>
      </div>

      <div class="select-btn" ng-show="!data.isPayment">
        <input type="button" value="select" ng-click="modalShow(data.title);">
      </div>
      <div class="select-btn" ng-show="data.isPayment">
        <input type="button" value="select" ui-sref="billing({price:data.price, ships:data.ships, type:data.title})">
      </div>
      <div class="desc">{{data.description}}</div>

      <hr>
      <ul>
        <li ng-repeat-start="list in data.features">{{list}}</li>
        <hr ng-repeat-end>
      </ul>

      <a ui-sref="machine.type({type:data.type})" class="more">Learn More</a>
    </div>
</div>
