<div ng-controller="machine">

  <header class="all-info">
    <div class="header">
      <div class="back" ui-sref="catalog">Back</div>
      <div class="title">{{data.program.name}} Machines</div>
    </div>

    <div class="mind">Rental Program</div>

    <img ng-src="{{data.program.imageUrl}}">
  </header>

  <div class="content">
    <div class="big-elem">
      <div class="title">{{data.program.title}}</div>

      <div class="info">
        <span class="every">starts at</span>
        <span class="price">&#36;{{data.program.price}}</span>
        <span class="ships">per month</span>
      </div>

      <div class="select-btn">
        <input type="button" value="select" ng-click="modalShow();">
      </div>
    </div>
  </div>

  <div class="program">
    <div class="wrapper">
      <span class="title">{{data.program.title}} Machine Program</span>

      <div class="step">
        <div>
          <div class="img one pull-left"></div>
          <div class="desc pull-right">{{data.program.programDescription[0]}}</div>
        </div>

        <div>
          <div class="img two pull-left"></div>
          <div class="desc pull-right">{{data.program.programDescription[1]}}</div>
        </div>

        <div>
          <div class="img three pull-left"></div>
          <div class="desc pull-right">{{data.program.programDescription[2]}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="big-elem">
      <div class="description">
        <p><span>How it works: </span>{{data.program.howItWorks}}</p>
        <p ng-if="data.program.additionalTitle.length > 0 && data.program.additionalDescription.length > 0">
          <span ng-if="data.program.additionalTitle.length > 0">{{data.program.additionalTitle}} </span> {{data.program.additionalDescription}}
        </p>
      </div>

      <div class="division">
        <div>See our options below</div>
      </div>

      <div class="catalog">
        <div class="pull-left" ng-repeat="m in data.machines" ng-click="modalShow(m.name);">
          <div class="img"><img ng-src="{{m.imageUrl}}"></div>
          <div class="model">{{m.name}}</div>
          <div class="refurbished">refurbished status</div>
          <div class="price">&dollar;{{m.pricePerMonth}} &#47; month</div>
        </div>
      </div>
    </div>
  </div>

</div>
