<header class="thanks">
  <div class="header">
    <div class="logotype"><img src="content/images/logotype.png" alt=""></div>
  </div>
  <div class="text">Thank you for your submission! We will follow up with you via phone or email in the next few days to complete your order</div>
</header>

<div class="content thanks">
  <div class="title">Shipping Information</div>
  <div class="description">
    <div class="pull-left">First Name</div>
    <div class="pull-right">Artyom</div>
  </div>
  <div class="description">
    <div class="pull-left">Last Name</div>
    <div class="pull-right">Danilchenko</div>
  </div>
  <div class="description">
    <div class="pull-left">Address Line</div>
    <div class="pull-right">pr. Satpaev 104-28</div>
  </div>
  <div class="description">
    <div class="pull-left">State &amp; Zip</div>
    <div class="pull-right">Alabama (36006)</div>
  </div>

  <hr>

  <div class="title">Billing Information</div>
  <div class="description">
    <div class="pull-left">First Name</div>
    <div class="pull-right">Artyom</div>
  </div>
  <div class="description">
    <div class="pull-left">Last Name</div>
    <div class="pull-right">Danilchenko</div>
  </div>
  <div class="description">
    <div class="pull-left">Address Line</div>
    <div class="pull-right">pr. Satpaev 104-28</div>
  </div>
  <div class="description">
    <div class="pull-left">State &amp; Zip</div>
    <div class="pull-right">Alabama (36006)</div>
  </div>
</div>
