<div ng-controller="ThanksCtrl">

  <header class="thanks">
    <div class="header">
      <div class="logotype"><img src="content/img/logotype.png" alt=""></div>
    </div>

    <div class="text">{{title}}</div>
  </header>

  <div class="content thanks" ng-repeat="data in content">
    <div class="title">{{data.title}} Information</div>

    <div class="description">
      <div class="pull-left">First Name</div>
      <div class="pull-right">{{data.firstName}}</div>
    </div>

    <div class="description">
      <div class="pull-left">Last Name</div>
      <div class="pull-right">{{data.lastName}}</div>
    </div>

    <div class="description">
      <div class="pull-left">Address</div>
      <div class="pull-right">{{data.address1}}</div>
    </div>

    <div class="description" ng-show="haveAddressOpt(data.address2)">
      <div class="pull-left">Address (optional)</div>
      <div class="pull-right">{{data.address2}}</div>
    </div>

    <div class="description">
      <div class="pull-left">State &amp; Zip</div>
      <div class="pull-right">{{data.state}} ({{data.zip}})</div>
    </div>

    <hr>
  </div>

</div>
