#accredition {
  position: relative;
  height: 180px;
  background: #f0f0f2;}

.accredition {
  position: absolute;
  top: 30px;
  left: 50%;
  width: 765px;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);}

.accredition > img {
  position: relative;
  display: inline-block;}

.accredition :first-child {
  width: 100px;
  height: 100px;
  margin: 0 100px 0 0;}

.accredition :last-child {
  width: 565px;
  height: 100px;}
