#benefits {
  height: 400px;
  background: #F0F0F2;
  position: relative;}

.benefits {
  width: 960px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);}

.benefits > div {
  height: 240px;
  width: 288px;}

.benefits-one {background: url(../images/other/knight-1.jpg) no-repeat center center;}
.benefits-two {background: url(../images/other/knight-2.jpg) no-repeat center center;}
.benefits-three {background: url(../images/other/knight-3.jpg) no-repeat center center;}

.benefits-two,
.benefits-three {margin: 0 0 0 48px;}

.benefits-one :first-child,
.benefits-two :first-child,
.benefits-three :first-child {
  font-family: 'Roboto';
  color: #FE7847;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin: 60px 0 15px 0;}

.benefits-one :last-child,
.benefits-two :last-child,
.benefits-three :last-child {
  font-family: 'Roboto';
  color: #222831;
  font-size: 14px;
  text-align: center;}
