#copyright {
  background: #393E46;}

.copyright {
  position: relative;
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding: 30px 0;
  padding-right: 0;
  padding-left: 0;}

.copyright-info {
  position: relative;
  display: inline-block;
  height: 176px;
  margin: 0 40px 0 0;
  vertical-align: top;}

.copyright-info-title {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 10px 0;
  text-align: left;
  text-transform: uppercase;
  color: #eee;}

.copyright-info-desc {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  width: 500px;
  text-align: justify;
  opacity: 0.75;
  color: #eee;}

.copyright-info-dev {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #eee;}

.copyright-info-links > a {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  display: block;
  margin: 0 0 5px 0;
  text-align: left;
  opacity: 0.75;
  color: #eee;}

.copyright-info-links > a:hover {
  color: #FE7847;}

.copyright-form {
  position: absolute;
  top: 30px;
  right: 0;}

.copyright-form input {
  display: block;
  width: 200px;
  height: 38px;
  margin: 0 0 8px 0;
  padding: 0 10px 0 10px;
  border: 1px;
  border-style: solid;
  border-radius: 3px;
  outline: none}

.copyright-form input[type='text'] {
  color: #eee;
  border-color: #222831;
  background-color: #222831;}

.copyright-form input[type='submit'] {
  color: #fff;
  border-color: #FE7847;
  background-color: #FE7847;}

.copyright-form input:focus::-webkit-input-placeholder {
  color: transparent}
.copyright-form input:focus::-moz-placeholder {
  color: transparent}
.copyright-form input:focus:-moz-placeholder {
  color: transparent}
.copyright-form input:focus:-ms-input-placeholder {
  color: transparent}

.copyright-form input::-webkit-input-placeholder {
  color: #393E46;}
.copyright-form input::-moz-placeholder {
  color: #393E46;}
.copyright-form input:-moz-placeholder {
  color: #393E46;}
.copyright-form input:-ms-input-placeholder {
  color: #393E46;}
