#slide-7 {background: #393E46;}

.copyrights {
  width: 960px;
  padding: 30px 0;
  position: relative;}

.copyright-info {
  height: 176px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin: 0 0 0 40px;}

.copyrights :first-child {
  margin-left: 0;}

.copyright-info-title {
  font-family: 'Roboto';
  color: #eee;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
  margin: 0 0 10px 0;}

.copyright-info-description {
  width: 500px;
  font-family: 'Roboto';
  color: #eee;
  font-size: 12px;
  font-weight: 500;
  opacity: 0.75;
  text-align: justify;}

.copyright-info-developers {
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: 'Roboto';
  color: #eee;
  font-size: 14px;
  font-weight: 500;}

.copyright-info-links > a {
  display: block;
  margin: 0 0 5px 0;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  color: #eee;
  opacity: 0.75;
  text-align: left;}

.copyright-form {
  position: absolute;
  top: 30px;
  right: 0;}

.copyright-form input {
  display: block;
  margin: 0 0 8px 0;
  height: 38px;
  width: 200px;
  border: 1px;
  border-style: solid;
  border-radius: 3px;
  padding: 0 10px 0 10px;
  outline: none}

.copyright-form input[type='text'] {
  color: #eee;
  border-color: #222831;
  background-color: #222831;}

.copyright-form input[type='submit'] {
  color: #fff;
  border-color: #FE7847;
  background-color: #FE7847;}

.copyright-form input:focus::-webkit-input-placeholder {color: transparent}
.copyright-form input:focus::-moz-placeholder {color: transparent}
.copyright-form input:focus:-moz-placeholder {color: transparent}
.copyright-form input:focus:-ms-input-placeholder {color: transparent}

.copyright-form input::-webkit-input-placeholder {color: #393E46;}
.copyright-form input::-moz-placeholder {color: #393E46;}
.copyright-form input:-moz-placeholder {color: #393E46;}
.copyright-form input:-ms-input-placeholder {color: #393E46;}
