<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Good Night Medical - Dashboard</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,700&subset=latin,cyrillic' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Rubik:400,400italic,500,700&subset=latin,cyrillic' rel='stylesheet'>
  <link rel="stylesheet" href="content/css/lib/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="content/css/main.css">
  <link rel="stylesheet" href="content/css/navbar.css">
  <link rel="stylesheet" href="content/css/sidebar.css">
  <link rel="stylesheet" href="content/css/table.css">
  <link rel="stylesheet" href="content/css/modal.css">
  <link rel="stylesheet" href="content/css/util.css">
  <!--[if lt IE 9]>
    <script src="scripts/lib/ie/html5shiv.min.js"></script>
    <script src="scripts/lib/ie/respond.min.js"></script>
  <![endif]-->
</head>

<body ng-controller="Ctrl" ng-init="onLoad();">

  <div class="nav-bar">
    <a class="brand pull-left" href="#">good <span>night</span> medical</a>
    <a class="log-out pull-right" href="#">log out</a>
  </div>

  <div class="sidebar">
    <ul>
      <li ng-class="returnActiveClass(0);" ng-click="pageSelection(0);">
        <a href="">Dashboard</a>
      </li>

      <li class="separate"></li>

      <li ng-class="returnActiveClass(1);" ng-click="pageSelection(1);">
        <a href="">Contact Us MSG</a>
      </li>

      <li ng-class="returnActiveClass(2);" ng-click="pageSelection(2);">
        <a href="">Rent CPAP MSG</a>
      </li>

      <li ng-class="returnActiveClass(3);" ng-click="pageSelection(3);">
        <a href="">Help Pick CPAP MSG</a>
      </li>

      <li ng-class="returnActiveClass(4);" ng-click="pageSelection(4);">
        <a href="">Machine</a>
      </li>

      <li class="separate"></li>

      <li>
        <a href="login.html">Log In Page</a>
      </li>
    </ul>
  </div>

  <div class="view-content">
    <div class="row">
      <div class="col-lg-12" ng-include="returnViewPage();"></div>
    </div>
  </div>

  <script src="scripts/lib/jquery/jquery.min.js"></script>
  <script src="scripts/lib/bootstrap/bootstrap.js"></script>
  <script src="scripts/lib/angular/angular.min.js"></script>
  <script src="scripts/lib/angular/ellipsis.min.js"></script>
  <script src="scripts/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="app/app.js"></script>
  <script src="app/principal.js"></script>
  <script src="app/route.js"></script>
  <script src="scripts/script.js"></script>
</body>
</html>
