<div class="header head2" ng-controller="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-48">

        <div class="logotype pull-left" ng-include="'content/svg/logotype.svg'"></div>

        <nav class="pull-right nav1 visible-lg">
          <div class="phone">
            <div class="phone-icon" ng-include="'content/svg/icons/phone.svg'"></div>
            <div class="phone-popup" ng-bind="'Phone Number: {{phoneNumber}}'"></div>
          </div>
          <div class="separate" ng-repeat-start="link in navbar"></div>
          <a ng-repeat-end
             ng-bind="'{{link.text}}'"
             ng-attr-ui-sref="{{link.uiSref ? link.uiSref : false}}"></a>
        </nav>

        <nav class="pull-right nav2 visible-md">
          <div ng-click="showMenu();">
            <span ng-include="'content/svg/icons/hamburger.svg'"></span>
            <span>menu</span>
          </div>
        </nav>

        <div class="menu-fixed-dark animate-on fadein fadeout" ng-show="navMenu">
          <div class="menu-fixed-cross"
               ng-click="hideMenu();"
               ng-include="'content/svg/icons/cross.svg'"></div>
          <div class="menu-fixed">
            <div>
              <ul>
                <li ng-repeat="link in navbar">
                  <a ng-click="hideMenu();"
                     ng-bind="'{{link.text}}'"
                     ng-attr-ui-sref="{{link.uiSref ? link.uiSref : false}}"></a>
                </li>
                <hr>
                <li class="phone-nubmer" ng-bind="'{{phoneNumber}}'"></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
