<header>
  <div class="wrapper">
    <img class="logotype pull-left" src="content/img/logotype.png" alt="">
    <span class="number pull-left">{{ourPhoneNumber}}</span>
    <nav class="pull-right">
      <a class="phone" href=""></a>
      <div class="separate"></div>
      <a href="">home</a>
      <div class="separate"></div>
      <a href="">about us</a>
      <div class="separate"></div>
      <a href="">buy</a>
      <div class="separate"></div>
      <a href="">rent</a>
      <div class="separate"></div>
      <a href="">auto re-supply</a>
      <div class="separate"></div>
      <a href="">home sleep</a>
      <div class="separate"></div>
      <a href="">billing</a>
      <div class="separate"></div>
      <a href="">faq</a>
    </nav>
  </div>
</header>
