<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Good Night Medical - Dashboard</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../content/css/lib/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="../content/css/lib/bootstrap/bootstrap-theme.min.css">
  <link rel="stylesheet" href="../content/css/lib/bootstrap/bootstrap-table.css">
  <link rel="stylesheet" href="../content/css/lib/jquery/jquery-ui.min.css">
  <link rel="stylesheet" href="../content/css/main.css">
  <link rel="stylesheet" href="">
  <link rel="stylesheet" href="">
  <link rel="stylesheet" href="">
  <link rel="stylesheet" href="">
  <!--[if lt IE 9]>
    <script src="../scripts/lib/ie/html5shiv.min.js"></script>
    <script src="../scripts/lib/ie/respond.min.js"></script>
  <![endif]-->
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"> <!-- NAVIGATION BAR -->
    <div class="container-fluid">
      <div class="navbar-header">
      </div>
    </div>
  </nav>

  <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar"> <!-- SIDEBAR -->
    <ul class="nav menu">
      <li role="presentation" class="divider"></li>
      <li><a href="../index.html">Dashboard</a></li>
      <li role="presentation" class="divider"></li>
      <li><a href="table-data-1.html">Table 1</a></li>
      <li><a href="table-data-2.html">Table 2</a></li>
      <li class="active"><a href="add-machine.html">Add Machine</a></li>
      <li><a href="edit-machine.html">Edit Machine</a></li>
    </ul>
  </div>

  <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

    <div class="row"> <!-- BREADCRUMB -->
      <ol class="breadcrumb">
        <li class="active">Home</li>
        <li>Machine</li>
        <li>Add</li>
      </ol>
    </div>

    <div class="row"> <!-- VIEW TITLE -->
      <div class="col-lg-12">
        <h1 class="page-header">Add Machine</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">Tempore voluptatibus architecto minima quidem veniam quod, aperiam numquam repudiandae voluptates vitae.</div>
          <div class="panel-body">
            <div class="col-md-12">
              <form role="form">
                <div class="form-group">
                  <label>Company</label>
                  <input class="form-control" placeholder="Philips, ResMed etc.">
                </div>
                <div class="form-group">
                  <label>Model Name</label>
                  <input class="form-control" placeholder="A210">
                </div>
                <div class="form-group">
                  <label>Price</label>
                  <input class="form-control" placeholder="65">
                </div>
                <div class="form-group">
                  <label>Image</label>
                  <input type="file">
                  <p class="help-block">Need JPG 500x500!</p>
                </div>
                <div class="form-group">
                  <label>Description</label>
                  <textarea class="form-control" rows="3"></textarea>
                </div>
                <div class="form-group">
                  <label>Refurbished</label>
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>Yes
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">No
                    </label>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit Button</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- /.col-->
    </div>

  </div>

  <script src="../scripts/lib/jquery/jquery.min.js"></script>
  <script src="../scripts/lib/jquery/jquery-ui.min.js"></script>
  <script src="../scripts/lib/bootstrap/bootstrap.min.js"></script>
  <script src="../scripts/lib/bootstrap/bootstrap-table.js"></script>
  <script src="../scripts/lib/angular/angular.min.js"></script>
  <script src="../scripts/lib/angular/ellipsis.min.js"></script>
  <script src="../scripts/script.js"></script>
</body>
</html>
