<div class="row" ng-controller="ContactUs">
  <div class="col-lg-12 table-view">

    <div class="title">Please, review new customer contacts!</div>

    <form class="filter" novalidate>
      <input class="pull-left" type="search" placeholder="search" ng-model="search">
      <div class="checkbox pull-left">
        <label>
          <input type="checkbox" ng-model="hideOld">
          <span><span></span></span>Hide old messages
        </label>
      </div>
      <div class="checkbox pull-left">
        <label>
          <input type="checkbox" ng-model="hideNew">
          <span><span></span></span>Hide new messages
        </label>
      </div>
    </form>

    <div class="darkness" ng-show="readContactInfo">
      <div class="window">
        <div class="title">User info</div>
        <div class="text"><span>Full Name:</span> {{currentUser.fullName}}</div>
        <div class="text"><span>Email:</span> {{currentUser.email}}</div>
        <div class="text"><span>Phone:</span> {{currentUser.phone}}</div>
        <form>
          <input class="left" type="submit" value="mark as read" ng-click="markAsRead(msg.id)" ng-show="currentUser.new == true">
          <input class="right" type="submit" value="Close" ng-click="readContactInfo = false">
        </form>
      </div>
    </div>

    <div class="table">
      <table>

        <thead>
          <tr>
            <td>Name</td>
            <td>Email</td>
            <td>Phone</td>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="msg in contactMsg | filter: search" ng-class="returnClassNewMsg(msg.new);"
              ng-hide="hideMachine(msg.new, hideOld, hideNew);">
            <td>{{msg.fullName}}</td>
            <td>{{msg.email}}</td>
            <td>{{msg.phone}}</td>
            <td><input type="submit" value="Read" ng-click="read(msg.id)"></td>
          </tr>
        </tbody>

      </table>
    </div>

  </div>
</div>
