<div class="row">
  <div class="col-lg-12 table-view">

    <div class="title">Consequatur quisquam omnis voluptatum aliquam corporis doloremque deserunt reiciendis optio veniam laboriosam voluptate similique a, dignissimos officiis, rem voluptatem iste maxime commodi porro. Dolore eum aliquam molestias modi, officiis saepe. Voluptatem repellat veritatis, a pariatur debitis numquam inventore quis! Laborum blanditiis voluptas tempore perspiciatis aspernatur qui numquam illo vel ex ipsa! Possimus ullam minima inventore itaque quibusdam, ut laudantium rem ipsam.</div>

    <form class="filter" novalidate>
      <input class="pull-left" type="search" placeholder="search" ng-model="search">
      <div class="checkbox pull-left">
        <label>
          <input type="checkbox" ng-model="hideOld">
          <span><span></span></span>Hide old messages
        </label>
      </div>
      <div class="checkbox pull-left">
        <label>
          <input type="checkbox" ng-model="hideNew">
          <span><span></span></span>Hide new messages
        </label>
      </div>
    </form>

    <div class="table">
      <table>
        <thead>
          <tr>
            <td>Name</td>
            <td>Email</td>
            <td>Phone</td>
            <td>Contact Method</td>
            <td>GNM Pacient</td>
            <td>Comment</td>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="msg in helpMsg | filter: search" ng-class="returnClassNewMsg(msg.new);"
              ng-hide="hideMachine(msg.new, hideOld, hideNew);">
            <td>{{msg.name}}</td>
            <td>{{msg.email}}</td>
            <td>{{msg.phone}}</td>
            <td>{{msg.contactMethod}}</td>
            <td>{{msg.gnmPacient}}</td>
            <td>{{msg.comment | characters:7}}</td>
            <td><input type="submit" value="Read"></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
