<div class="window">
    <div class="logotype">[ Good <span>Night</span> Medical ]</div>
    <div class="form" ng-controller="loginController">
      <div class="title">Enter Your Data</div>
      <form ng-submit="login();">
        <input type="text" placeholder="login" ng-class="check" ng-model="userName">
        <input type="password" placeholder="password" ng-class="check" ng-model="password">
        <input type="submit" value="log in" ng-click="check = 'alert'">
      </form>
    </div>
</div>

