<div class="row" ng-init="addMachine = 'hide-me'; editMachine = 'hide-me'; check = ''">
  <div class="col-lg-12 table-view">

    <div class="title">Quis velit voluptas repellat, deserunt mollitia, id itaque tempore, aliquid aperiam molestias necessitatibus vero sint qui. Doloremque deserunt odio inventore tenetur similique sunt, nihil ut, dolor exercitationem sequi quod unde quasi facere. Esse maxime reiciendis corporis magni vel itaque quod maiores necessitatibus!</div>

    <form class="filter" novalidate>
      <input class="pull-left" type="search" placeholder="search" ng-model="search">
      <input class="pull-right" type="submit" value="Add Machine" ng-click="addMachine = 'show-me';">
      <input class="pull-right" type="submit" value="Edit Machine" ng-click="editMachine = 'show-me';">
    </form>

    <form class="machine" novalidate ng-class="addMachine" ng-init="selectOrDownloadEdit = true; selectOrDownloadAdd = true">
      <div class="group"> <!-- COMPANY -->
        <label>Company</label>
        <input type="text" placeholder="Philips" autofocus required ng-class="check">
      </div>

      <div class="group"> <!-- MODEL NAME -->
        <label>Model Name</label>
        <input type="text" placeholder="Philips Respironics DreamStation Auto / Pro" required ng-class="check">
      </div>

      <div class="group"> <!-- PRICE -->
        <label>Price</label>
        <input type="text" placeholder="65" required ng-class="check">
      </div>

      <div class="group"> <!-- SELECT IMAGE OR DONWLOAD NEW -->
        <label>Select Image or Download New</label>

        <div class="radio">
          <label ng-click="selectOrDownloadAdd = true;">
            <input type="radio" name="patientGnm" checked>
            <span><span></span></span>Select Image
          </label>
        </div>

        <div class="radio">
          <label ng-click="selectOrDownloadAdd = false;">
            <input type="radio" name="patientGnm">
            <span><span></span></span>Download New Image
          </label>
        </div>

        <div ng-hide="selectOrDownloadAdd"> <!-- IMAGE -->
          <div class="grp-file">
            <label>
              <span>Choose file<input type="file"></span>
            </label>
            <input type="text" disabled>
          </div>
          <div class="help">(size 500x500 pixels, format .jpg)</div>
        </div>

        <select id="select-img1" ng-hide="!selectOrDownloadAdd"> <!-- DROP DOWN J-UI -->
          <option data-imagesrc="http://swimages.blob.core.windows.net/goodnightmedical-preview/philips-respironics-dreamstation-bipap-60x60.jpg"
                  data-description="philips-respironics-dreamstation-bipap.jpg"
                  value="0">Philips Respironics DreamStation BiPAP</option>
          <option data-imagesrc="http://swimages.blob.core.windows.net/goodnightmedical-preview/philips-respironics-remstar-system-one-auto-60x60.jpg"
                  data-description="philips-respironics-remstar-system-one-auto,jpg"
                  value="1">Philips Respironics RemStar System One Auto</option>
          <option data-imagesrc="http://swimages.blob.core.windows.net/goodnightmedical-preview/resmed-s9-auto-cpap-60x60.jpg"
                  data-description="resmed-s9-auto-cpap.jpg"
                  value="2">ResMed S9 Auto/CPAP</option>
          <option data-imagesrc="http://swimages.blob.core.windows.net/goodnightmedical-preview/fisher-and-paykel-icon-premo-auto-60x60.jpg"
                  data-description="fisher-and-paykel-icon-premo-auto.jpg"
                  value="3">Fisher & Paykel ICON Premo/Auto</option>
        </select>
      </div>

      <div class="group"> <!-- DESCRIPTION -->
        <label>Description</label>
        <textarea ng-class="check"></textarea>
      </div>

      <div class="group"> <!-- REFURBUSHED -->
        <label>Refurbished</label>
        <div class="radio">
          <label>
            <input type="radio" name="refurbished" checked>
            <span><span></span></span>No
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="refurbished">
            <span><span></span></span>Yes
          </label>
        </div>
      </div>

      <div class="group grp-buttons"> <!-- BUTTONS -->
        <input class="left" type="reset" value="Reset">
        <input class="center" type="submit" value="Add Machine" ng-click="check = 'alert'">
        <input class="right" type="submit" value="Close" ng-click="addMachine = 'hide-me';">
      </div>
    </form>

    <form class="machine" novalidate ng-class="editMachine">
      <div class="group"> <!-- COMPANY -->
        <label>Company</label>
        <input type="text" placeholder="Philips" autofocus required ng-class="check">
      </div>

      <div class="group"> <!-- MODEL NAME -->
        <label>Model Name</label>
        <input type="text" placeholder="Philips Respironics DreamStation Auto / Pro" required ng-class="check">
      </div>

      <div class="group"> <!-- PRICE -->
        <label>Price</label>
        <input type="text" placeholder="65" required ng-class="check">
      </div>

      <div class="group"> <!-- SELECT IMAGE OR DONWLOAD NEW -->
        <label>Select Image or Download New</label>

        <div class="radio">
          <label ng-click="selectOrDownloadEdit = true;">
            <input type="radio" name="patientGnm" checked>
            <span><span></span></span>Select Image
          </label>
        </div>

        <div class="radio">
          <label ng-click="selectOrDownloadEdit = false;">
            <input type="radio" name="patientGnm">
            <span><span></span></span>Download New Image
          </label>
        </div>

        <div ng-hide="selectOrDownloadEdit"> <!-- IMAGE -->
          <div class="grp-file">
            <label>
              <span>Choose file<input type="file"></span>
            </label>
            <input type="text" disabled>
          </div>
          <div class="help">(size 500x500 pixels, format .jpg)</div>
        </div>

        <select id="select-img2" ng-hide="!selectOrDownloadAdd"> <!-- DROP DOWN J-UI -->
          <option data-imagesrc="http://swimages.blob.core.windows.net/goodnightmedical-preview/philips-respironics-dreamstation-bipap-60x60.jpg"
                  data-description="philips-respironics-dreamstation-bipap.jpg"
                  value="0">Philips Respironics DreamStation BiPAP</option>
          <option data-imagesrc="http://swimages.blob.core.windows.net/goodnightmedical-preview/philips-respironics-remstar-system-one-auto-60x60.jpg"
                  data-description="philips-respironics-remstar-system-one-auto,jpg"
                  value="1">Philips Respironics RemStar System One Auto</option>
          <option data-imagesrc="http://swimages.blob.core.windows.net/goodnightmedical-preview/resmed-s9-auto-cpap-60x60.jpg"
                  data-description="resmed-s9-auto-cpap.jpg"
                  value="2">ResMed S9 Auto/CPAP</option>
          <option data-imagesrc="http://swimages.blob.core.windows.net/goodnightmedical-preview/fisher-and-paykel-icon-premo-auto-60x60.jpg"
                  data-description="fisher-and-paykel-icon-premo-auto.jpg"
                  value="3">Fisher & Paykel ICON Premo/Auto</option>
        </select>
      </div>

      <div class="group"> <!-- DESCRIPTION -->
        <label>Description</label>
        <textarea ng-class="check"></textarea>
      </div>

      <div class="group"> <!-- REFURBUSHED -->
        <label>Refurbished</label>
        <div class="radio">
          <label>
            <input type="radio" name="refurbished" checked>
            <span><span></span></span>No
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="refurbished">
            <span><span></span></span>Yes
          </label>
        </div>
      </div>

      <div class="group grp-buttons"> <!-- BUTTONS -->
      <input class="right" type="submit" value="Close" ng-click="editMachine = 'hide-me';">
      <input class="center" type="submit" value="Save" ng-click="check = 'alert'">
      <input class="left" type="reset" value="Reset">
      </div>
    </form>

    <div class="table">
      <table>

        <thead>
          <tr>
            <td>Company</td>
            <td>Model</td>
            <td>Price</td>
            <td>Refurbished</td>
            <td>Image Url</td>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="machine in machineData | filter: search">
            <td>{{machine.company.name}}</td>
            <td>{{machine.name}}</td>
            <td>&dollar;{{machine.pricePerMonth}}</td>
            <td>{{machine.refurbished}}</td>
            <td class="machine-img">{{machine.imageUrl}}
              <div>
                <img src="http://swimages.blob.core.windows.net/goodnightmedical-preview/philips-respironics-dreamstation-bipap-60x60.jpg">
              </div>
            </td>
            <td><input type="submit" value="Edit" ng-click="editMachine = 'show-me';"></td>
            <td><input type="submit" value="View"></td>
          </tr>
        </tbody>

      </table>
    </div>

  </div>
</div>
