<div class="row">
  <div class="col-lg-12 machine-add-view">

    <div class="title">Voluptatibus officiis harum excepturi nesciunt obcaecati eveniet officia natus libero, est ea eligendi ipsum exercitationem aut provident cupiditate inventore, assumenda beatae dolor quia, voluptate animi, soluta. Eveniet veritatis cumque inventore, accusantium rem perferendis? Iste dolorum, aliquam perferendis, inventore beatae earum quod nobis.</div>

    <form role="form" novalidate="">

      <div class="group">
        <label>Company</label>
        <input type="text" placeholder="Philips" required>
      </div>

      <div class="group">
        <label>Model Name</label>
        <input type="text" placeholder="Philips Respironics DreamStation Auto / Pro" required>
      </div>

      <div class="group">
        <label>Price</label>
        <input type="text" placeholder="65" required>
      </div>

      <div class="group">
        <label>Image</label>
        <input type="file" required>
        <p class="help">(size 500x500 pixels, format .jpg)</p>
      </div>

      <div class="group">
        <label>Description</label>
        <textarea></textarea>
      </div>

      <div class="group">
        <label>Refurbished</label>
        <div class="radio">
          <label>
            <input type="radio" name="refurbished" checked>
            <span><span></span></span>Yes
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="refurbished">
            <span><span></span></span>No
          </label>
        </div>
      </div>

      <input type="submit" value="Add Machine">

    </form>

  </div>
</div>
