body {
  background-color: #eee;}

#mainbody {
  position: relative;
  display: block;
  width: 920px;
  height: 100px;
  margin: 20px auto;
  margin-right: auto;
  margin-left: auto;}

.sidebar {
  width: 200px;
  min-height: 500px;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, .05);}

.form-price {
  width: 160px;}

.form-price input {
  color: #000;}

.form-price-title {
  font-size: 12px;
  font-weight: 500;
  margin: 0 0 10px 0;
  text-transform: uppercase;
  color: #222831;}

.price-title {
  font-size: 12px;
  font-weight: 500;
  margin: 0 0 10px 0;
  text-transform: uppercase;
  color: #222831;}

.price-input {
  font-size: 12px;
  line-height: 20px;
  width: 160px;
  height: 20px;
  margin: 0 0 20px 0;
  color: #222831;}

.price-input input {
  line-height: 20px;
  width: 20px;
  height: 20px;
  color: #000;
  border: 1px;
  border-style: solid;
  border-color: #fff;
  outline: none;}








.form-price-desc {
  height: 20px;}

.form-price-desc > div {
  font-size: 14px;
  font-weight: 500;
  color: #222831;}

.form-buttons {
  height: 30px;
  margin: 0 0 10px;}

.form-left-btn,
.form-right-btn {
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  display: inline;
  width: 80px;
  height: 30px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  border: 1px;
  border-style: solid;}

.form-left-btn {
  border-radius: 3px 0 0 3px;}

.form-right-btn {
  border-radius: 0 3px 3px 0;}

.form-btn-inactive {
  color: #222831;
  border-color: #ddd;
  background-color: #fff;}

.form-btn-active {
  color: #fff;
  border-color: #fe7847;
  background-color: #fe7847;}

.form-hr {
  height: 1px;
  margin: 20px 0;
  color: #ddd;
  border: 0;
  background-color: #ddd;}

.form-switch {
  position: relative;
  width: 160px;
  height: 16px;
  margin: 0 0 10px;}

.form-switch span {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  position: absolute;
  top: 0;
  left: 0;
  color: #222831;}

.form-switch-label {
  position: absolute;
  right: 0;
  width: 28px;
  height: 16px;}

.form-switch-label input {
  display: none;}

.form-swtich-elem {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: 999px;
  background-color: #ccc;}

.form-swtich-elem:before {
  position: absolute;
  bottom: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  content: '';
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: 999px;
  background-color: #fff;}

input:checked + .form-swtich-elem {
  background-color: #fe7847;}

input:checked + .form-swtich-elem:before {
  -webkit-transform: translateX(12px);
  -moz-transform: translateX(12px);
  -ms-transform: translateX(12px);
  -o-transform: translateX(12px);
  transform: translateX(12px);}

.content {
  width: 700px;
  margin: 0 0 0 20px;}

.content-search {
  font-size: 14px;
  width: 700px;
  height: 40px;
  margin: 0 0 20px 0;
  padding: 0 14px 0 35px;
  color: #000;
  border: 1px;
  border-style: solid;
  border-color: #fff;
  border-radius: 5px;
  outline: none;
  background: url(../images/other/search.png) no-repeat 14px center, #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, .05);}

.content-search:focus::-webkit-input-placeholder {
  color: transparent;}

.content-search:focus::-moz-placeholder {
  color: transparent;}

.content-search:focus:-moz-placeholder {
  color: transparent;}

.content-search:focus:-ms-input-placeholder {
  color: transparent;}

.content-search::-webkit-input-placeholder {
  color: #ccc;}

.content-search::-moz-placeholder {
  color: #ccc;}

.content-search:-moz-placeholder {
  color: #ccc;}

.content-search:-ms-input-placeholder {
  color: #ccc;}

.content-elements > div {
  position: relative;
  width: 220px;
  height: 240px;
  margin: 0 20px 20px 0;
  border-radius: 5px;
  background-color: #393e46;
  box-shadow: 0 0 5px rgba(0, 0, 0, .05);
  -webkit-transition: all .0s ease-in-out;
  -moz-transition: all .0s ease-in-out;
  -o-transition: all .0s ease-in-out;
  transition: all .0s ease-in-out;}

.content-elements >:nth-child(3n) {
  margin: 0 0 10px 0;}

.content-elements-img {
  width: 220px;
  height: 157px;
  border-radius: 3px 3px 0 0;
  background-color: #fff;}

.content-elements-img img {
  display: block;
  height: 157px;
  margin: 0 auto;
  margin-right: auto;
  margin-left: auto;
  background-color: #000;}

.content-elements-model {
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  position: absolute;
  top: 167px;
  left: 10px;
  width: 210px;
  text-align: left;}

.content-elements-reviews {
  position: absolute;
  bottom: 10px;
  left: 10px;}

.content-elements-reviews > img {
  position: absolute;
  bottom: 0;
  width: 24px;
  height: 24px;
  border: 2px;
  border-style: solid;
  border-color: #fff;
  border-radius: 999px;}

.content-elements-reviews-ava-1 {
  left: 0;}

.content-elements-reviews-ava-2 {
  left: 12px;}

.content-elements-reviews-ava-3 {
  left: 24px;}

.content-elements-reviews > span {
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 24px;
  position: absolute;
  bottom: 0;
  left: 53px;
  width: 100px;
  color: #bbb;}

.content-elements-price {
  font-size: 13px;
  font-weight: 500;
  line-height: 24px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #fe7847;}
