* {
  font-family: 'Roboto', sans-serif, Arial, Verdana;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;}

*,
*:after,
*:before {
  -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
       -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;}

html,
body {height: 100%;}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;}

input,
input:hover,
input:focus,
select,
select:hover,
select:focus,
button,
button:hover,
button:focus,
textarea,
textarea:hover,
textarea:focus {outline: none;}

ul, ol {list-style: none;}

a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
  cursor: pointer;
  text-decoration: none;
  color: #fff;}

.block-center {
  display: block;
  margin-right: auto;
  margin-left: auto;}

.container,
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 0;
  padding-left: 0;}

.row {
  margin-right: 0;
  margin-left: 0;}

.top-cut,
.bot-cut {
  width: 100%;
  height: 40px;
  position: absolute;
  -moz-background-size: cover;
    -o-background-size: cover;
       background-size: cover;}

.top-cut {top: 0;}
.bot-cut {bottom: 0;}

.top-cut img,
.bot-cut img {
  width: 100%;
  height: 40px;}

@media (max-width: 1023px) {.container {width: 960px;}}
@media (min-width: 1024px) {.container {width: 960px;}}
@media (min-width: 1180px) {.container {width: 960px;}}
