.darkness {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .85);}

.darkness > .window {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 30px;
  border: 0 solid #fff;
  background-color: #fff;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .03);
     -moz-box-shadow: 0 0 7px rgba(0, 0, 0, .03);
          box-shadow: 0 0 7px rgba(0, 0, 0, .03);}

.darkness > .window > .status {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #222831;}

.darkness > .window > form > .group > label {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
  text-align: center;
  color: #22313f;}

.darkness > .window > form > .group .radio > label {color: #22313f;}

.darkness > .window > form .modal-radio {
  position: relative;
  height: 20px;}

.darkness > .window > form .modal-radio > div {
  position: absolute;
  left: 50%;
  height: 20px;
  -webkit-transform: translate(-50%, 0);
     -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
       -o-transform: translate(-50%, 0);
          transform: translate(-50%, 0);}

.darkness > .window > form .modal-radio > .radio-one   {width: 223px;}
.darkness > .window > form .modal-radio > .radio-two   {width: 167px;}
.darkness > .window > form .modal-radio > div > .radio {margin: 0 10px;}

.darkness > .window > .text {
  color: #222831;
  font-size: 14px;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;}
