#home {
  position: relative;
  background: url(../../images/bg/bg-1.jpg) no-repeat center top;
  background-size: cover;}

.header {
  position: relative;
  display: block;
  width: 960px;
  margin: 0 auto;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 0 0 0;}

.header-separate {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 10px 2px 10px;
  padding: 2px 0;
  opacity: 0.5;
  border-radius: 999px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, .15);}

.header-logotype {
  position: absolute;
  left: 0;}

.header-nav-bar {
  position: absolute;
  left: 50%;
  padding: 20px 0 0 0;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);}

.header-nav-bar a {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .2);}

.header-nav-bar a:hover {
  color: #E4F1FE;
  text-shadow: 0 0 15px rgba(0, 0, 0, .4);}

.header-login {
  position: absolute;
  right: 0;
  padding: 20px 0 0 0;}

.header-login a {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #8DC6FF;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .2);}

.header-login a:hover {
  color: #60B0FF;
  text-shadow: 0 0 15px rgba(0, 0, 0, .4);}

.mind {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 960px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;}

.mind-title {
  font-family: 'Rubik';
  font-size: 40px;
  font-weight: 500;
  margin: 0 0 15px 0;
  text-shadow: 0 0 5px rgba(0, 0, 0, .2);}

.mind-desc {
  font-family: 'Rubik';
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 40px 0;
  text-shadow: 0 0 5px rgba(0, 0, 0, .2);}

.mind-form {
  margin: 0 0 15px 0;}

.mind-form input[type='text'] {
  width: 200px;
  height: 40px;
  margin: 0 20px 0 0;
  padding: 0 10px;
  color: #000;
  border: 1px;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 3px;
  outline: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, .05);}

.mind-form input[type='submit'] {
  font-size: 15px;
  font-weight: 500;
  width: 126px;
  height: 40px;
  color: #fff;
  border: 1px;
  border-style: solid;
  border-color: #5397DB;
  border-radius: 3px;
  outline: none;
  background-color: #5397DB;
  box-shadow: 0 0 15px rgba(0, 0, 0, .05);}

.mind-form input[type='submit']:hover {
  border-color: #60B0FF;
  background-color: #60B0FF;}

.mind-form input:focus::-webkit-input-placeholder {color: transparent}
.mind-form input:focus::-moz-placeholder {color: transparent}
.mind-form input:focus:-moz-placeholder {color: transparent}
.mind-form input:focus:-ms-input-placeholder {color: transparent}

.mind-form input::-webkit-input-placeholder {color: #ccc;}
.mind-form input::-moz-placeholder {color: #ccc;}
.mind-form input:-moz-placeholder {color: #ccc;}
.mind-form input:-ms-input-placeholder {color: #ccc;}

.mind-form-desc {
  font-family: 'Rubik';
  font-size: 12px;
  font-style: italic;
  text-shadow: 0 0 5px rgba(0, 0, 0, .2);}

.scroll {
  position: absolute;
  bottom: 60px;
  left: 50%;
  width: 30px;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);}

.scroll svg {
  -webkit-filter: drop-shadow( 0 0 15px rgba(0, 0, 0, .15));
  filter: drop-shadow( 0 0 15px rgba(0, 0, 0, .15));}
