#rent {
  position: relative;
  height: 440px;
  background: url(../../images/bg/bg-5.jpg) no-repeat center top;
  background-size: cover;}

.rent {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 740px;
  height: 240px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);}

.rent-img {
  width: 240px;
  height: 240px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, .2);}

.rent-info {
  position: relative;
  width: 480px;
  height: 240px;
  padding: 20px 0;}

.rent-title {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 20px 0;
  text-align: left;
  color: #eee;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .15);}

.rent-desc {
  font-family: 'Roboto';
  font-size: 14px;
  text-align: justify;
  color: #eee;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .15);}

.rent-price {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  top: 17px;
  right: 0;
  text-align: right;
  color: #FE7847;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .15);}

.rent-reviews {
  position: absolute;
  bottom: 20px;
  left: 0;}

.rent-reviews > img {
  position: absolute;
  bottom: 0;
  width: 46px;
  height: 46px;
  border: 2px;
  border-style: solid;
  border-color: #fff;
  border-radius: 999px;}

.rent-reviews-ava-1 {left: 0;}
.rent-reviews-ava-2 {left: 23px;}
.rent-reviews-ava-3 {left: 46px;}

.rent-reviews > span {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  line-height: 46px;
  position: absolute;
  bottom: 0;
  left: 112px;
  width: 100px;
  color: #FE7847;}

.rent-buttons {
  position: absolute;
  right: 0;
  bottom: 20px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .15);}

.rent-btn-rent,
.rent-btn-catalog {
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  line-height: 35px;
  display: inline-block;
  height: 40px;
  margin: 0 0 0 20px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  border: 3px;
  border-style: solid;
  border-color: #FE7847;
  border-radius: 5px;}

.rent-btn-rent {width: 75px;}
.rent-btn-catalog {width: 96px;}

.rent-btn-rent:hover,
.rent-btn-catalog:hover {
  color: #fff;
  border-color: #F98B60;
  background-color: #F98B60;}
