/*
 * Landing Page 2-1
 */

header {
  width: 100%;
  height: 340px;
  margin-bottom: 60px;
  background: url(../../images/bg/bg-lp-1.jpg) no-repeat center top;
  -moz-background-size: cover;
    -o-background-size: cover;
       background-size: cover;}

header .header {
  display: block;
  width: 960px;
  height: 90px;
  margin: 0 auto;
  padding: 10px 0;}

header .header > .logotype {
  width: 123px;
  height: 70px;
  text-align: center;}

header .header > nav a {
  font-size: 12px;
  font-weight: 500;
  line-height: 70px;
  text-transform: uppercase;
  color: #fff;}

header .header > nav a:hover {color: #84c7ff;}

header .header > nav span {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 2px 10px;
  opacity: .5;
  background-color: #fff;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;}

header .mind {
  font-family: 'Rubik';
  font-size: 32px;
  font-weight: 500;
  margin: 30px auto;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 15px rgba(0, 0, 0, .05);}

header .preview {
  font-size: 0;
  width: 960px;
  margin: 0 auto;}

header .preview img {
  width: 200px;
  height: 200px;
  margin: 0 60px;
  padding: 20px;
  background-color: #fff;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, .15);
     -moz-box-shadow: 0 0 35px rgba(0, 0, 0, .15);
          box-shadow: 0 0 35px rgba(0, 0, 0, .15);}

/*
 * Landing Page 2-2
 */

header.all-info {
  width: 100%;
  height: 340px;
  margin-bottom: 100px;
  background: url(../../images/bg/bg-lp-1.jpg) no-repeat center top;
  -moz-background-size: cover;
    -o-background-size: cover;
       background-size: cover;}

header.all-info .header {
  position: relative;
  width: 960px;
  height: 50px;
  margin: 0 auto;
  padding-top: 20px;}

header.all-info .header .back {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  height: 30px;
  padding: 0 0 0 28px;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  background: url(../../images/other/back.png) no-repeat left center;}

header.all-info .header .title {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  position: absolute;
  top: 20px;
  left: 50%;
  text-transform: uppercase;
  color: #fff;
  -webkit-transform: translate(-50%, 0);
     -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
       -o-transform: translate(-50%, 0);
          transform: translate(-50%, 0);}

header.all-info .mind {
  font-family: 'Rubik';
  font-size: 32px;
  font-weight: 500;
  width: 960px;
  margin: 30px auto;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 15px rgba(0,0,0,.05);}

header.all-info img {
  display: block;
  width: 260px;
  height: 260px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 0 35px rgba(0,0,0,.15);
     -moz-box-shadow: 0 0 35px rgba(0,0,0,.15);
          box-shadow: 0 0 35px rgba(0,0,0,.15);}

/*
 * Landing Page 2-3
 */

header.billing {
  width: 100%;
  height: auto;
  margin-bottom: 0;
  background: url(../../images/bg/bg-lp-1.jpg) no-repeat center top;}

header.billing .header {
  position: relative;
  width: 600px;
  padding: 0;}

header.billing .header .back {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  position: absolute;
  top: 50%;
  height: 30px;
  padding: 0 0 0 28px;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  background: url(../../images/other/back.png) no-repeat left center;
  -webkit-transform: translate(0, -50%);
     -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
       -o-transform: translate(0, -50%);
          transform: translate(0, -50%);}

header.billing .header .logotype-center {
  display: block;
  margin: 0 auto;
  padding: 10px 0;}

header.billing .mind {
  font-size: 42px;
  font-weight: 500;
  width: 600px;
  margin: 0 auto;
  padding: 40px;
  text-transform: uppercase;}

/*
 * Landing Page 2-4
 */

header.thanks {
  height: auto;
  background: url(../../images/bg/bg-lp-1.jpg) no-repeat center center;}

header.thanks .header {
  width: 700px;}

header.thanks .text {
  font-size: 14px;
  font-weight: 500;
  width: 520px;
  height: 220px;
  margin: 0 auto;
  padding: 80px 0 80px 200px;
  text-align: justify;
  text-transform: uppercase;
  color: #fff;
  background: url(../../images/other/knight-lp-2-4.png) no-repeat left center;}

/*
 * Blue Style
 */

.blue header .header > nav a:hover {color: #579eff;}

/*
 * Orange Style
 */

.orange header .header > nav a:hover {color: #f98b60;}
